<div class="release-present">
  <% if @announcement.avatar.present?
       image = @announcement.avatar.url
     elsif @announcement.image_uri.present?
       image = @announcement.image_uri
     else
       image = @announcement.avatar.url
     end %>
  <%= image_tag(image, class: "release-avatar left-avatar") if image %>
  
  <div class="release-bgrd bg-green">
    <%#= image_tag 'dj.jpg' %>

    <div class="release-header">
      <div class="release-exclusive">
        <%= image_tag 'icons/user-logo-icon.svg' %>
        <div>ONLY ON<br>
        BIRDFEED</div>
      </div>

      <div class="release-likes">
        <%= render partial: 'likes/like_button', locals: { object: @announcement,  style: 'release' } %>
      </div>

      <button class="release-icon" type="button" data-toggle="collapse" data-target="#release-share" aria-expanded="false" aria-controls="collapseExample">
        <%= image_tag('icons/icon-share.svg', title: "Share") %>
      </button>

      <div id="release-share" class="collapse share-panel">
        <h5 class="mx-3 my-2">Share</h5>
        <div class="mx-3 mb-3" data-object-type="announcement" data-object-id="<%= @announcement.id %>">
          <%= social_share_button_tag(strip_tags(@announcement.title).gsub("\'",''), desc: strip_tags(@announcement.text).gsub("\'",''), img: image) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="release-info mb-4">
  <h1 class="fz-23 mb-4"><%= @announcement.title.upcase %></h1>

  <div class="truncated-description">
    <% if @announcement.text.present? %>
      <article><%= @announcement.text.html_safe %></article>
    <% end %>
  </div>

  
  <%#= link_to "Q&A", chirp_path, class: "btn c-btn-transparent btn-wide" %>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="c-panel bg-white">
      <div class="c-flag mb-4"><b>ANNOUNCEMENT</b> FEED</div>

      <%# if current_user && @announcement.user_id == current_user.id %>
        <button class="btn c-btn-blue mt-1 btn-wide" type="button" data-toggle="modal" data-target="#addcommentModal">
          POST A COMMENT
        </button>
      <%# end %>

      <%= render partial: 'follows/follow_button', 
          locals: { object: @announcement, 
                    opt: { 
                        classes: "btn btn-wide follow-button-black",
                        text: ['follow this feed', 'unfollow this feed'] } } %>

      <div class="feed-block light-scroll">
        <%= render 'feeds/commentable_feed' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="sticky-top">
      <!-- FOLLOWERS -->
      <div class="c-panel bg-white mb-4">
        <div class="c-flag c-flag-inner mb-2"><b>FEED</b> FOLLOWERS</div>

        <div>
          <% @announcement.followers.each do |user| %>
            <%= link_to user, class: "d-inline-block mr-2 mb-2" do %>
              <%= image_tag user.avatar.thumb, class: "user-avatar" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="addcommentModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body w-100">
            <h5 class="modal-title">Add your comment</h5>

            <%= form_for current_user.comments.build, 
              html: { class: "feed-form w-75" }, remote: true do |f| %>
              <%= f.hidden_field :commentable_type, value: "Announcement" %>
              <%= f.hidden_field :commentable_id, value: @announcement.id %>
              <%= f.label :body, class: "sr-only" %>
              <%= f.text_area :body, rows: 10, placeholder: "Type text", 
                  max: 200, class: "emoji-area" %>
              <%= f.submit "ADD TO FEED", class: "btn c-btn-blue btn-wide" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
