<% releases_ids = object.map(&:release_id).uniq %>

<div class="playlist-covers">
  <% if releases_ids.count == 0 %>
    <%= image_tag '/images/default_release.png', class: 'w-100' %>
  <% elsif releases_ids.count == 1 %>
    <%= image_tag object.first.release.avatar.url, class: "w-100" %>
  <% elsif releases_ids.count == 2 %>

    <% releases_ids[0..1].each do |release_id| %>
      <% release = Release.find(release_id) %>
      <%= image_tag release.avatar.url, style: "width: 100%; height: 50%; object-fit: cover;" %>
    <% end %>

  <% elsif releases_ids.count == 3 %>

    <% release = Release.find(releases_ids[2]) %>
    <%= image_tag release.avatar.url, style: "width: 100%; height: 50%; object-fit: cover;" %>

    <% releases_ids[0..1].each do |release_id| %>
      <% release = Release.find(release_id) %>
      <%= image_tag release.avatar.url, style: "width: 50%; height: 50%; object-fit: cover; float: left;" %>
    <% end %>

  <% else %>

    <% releases_ids[0..3].each do |release_id| %>
      <% release = Release.find(release_id) %>
      <%= image_tag release.avatar.url, style: "width: 50%; height: 50%; object-fit: cover; float: left;" %>
    <% end %>

  <% end %>
</div>
