<% case icon %>
<% when 'white' then image = 'icons/icon-download.svg' %>
<% when 'gray' then image = 'icons/icon-download.png' %>
<% end %>

<% if track.user_allowed?(current_user) %>
  <button class="icon-download" type="button" data-toggle="collapse" data-target="#download-<%= track.id %>" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag image %>
  </button>
<% end %>
<div id="download-<%= track.id %>" class="collapse collapse-formats">
    <% track.download_uris.each do |format, uri| %>
      <a href="<%= uri %>" class="btn btn-danger"><%= format %></a>
    <% end %>
</div>