<% if track.release.image_uri.present?
     image = track.release.image_uri
   else
     image = track.release.avatar.url
   end %>

<button class="icon-share" type="button" data-toggle="collapse" data-target="#track<%= track.id %>-share" aria-expanded="false" aria-controls="collapseExample">
  <%= image_tag('icons/icon-share.svg', title: "Share") %>
</button>

<div id="track<%= track.id %>-share" class="collapse share-panel" style="top: -11px;">
  <h5 class="mx-3 my-2">Share</h5>
  <div class="mx-3 mb-3" data-object-type="release" data-object-id="<%= track.release.id %>" data-object-subtype="track" data-object-subid="<%= track.id %>">
    <%= social_share_button_tag(strip_tags(track.release.title).gsub("\'",''), desc: strip_tags(track.release.text).gsub("\'",''), image: image) %>
  </div>
</div>
