<div class="text-center mb-4">
  <h1 class="h3 mt-5 mb-3 font-weight-normal">Edit <%= resource_name.to_s.humanize %></h1>
  <p>You can edit the following fields</p>
</div>

<%= form_for(resource, remote: true,
    html: { id: 'change-avatar', class: 'form-signin change-avatar', method: :put } ) do |f| %>
  <%= image_tag resource.avatar.big_thumb %>
  <%= f.file_field :avatar, class: 'form-control-file' %>
  <%= f.hidden_field :avatar_cache %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
    html: { class: 'form-signin', method: :put } ) do |f| %>
  
  <%= render partial: 'devise/registrations/registration_form', locals: { f: f } %>
  
  <% if current_user.provider.blank? %>
    <div class="form-label-group">
      <%= f.password_field :current_password, autocomplete: "off", required: true, 
          class: 'form-control', placeholder: "Current password" %>
      <%= f.label :current_password %>
      <div><i>(we need your current password to confirm your changes)</i></div>
    </div>
  <% end %>

  <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block mb-3" %>

  <%= link_to "Change subscription", choose_profile_path %>
  
  <!-- <p>Cancel my account</p> -->

 <!--  <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm" %></p> -->
  <%#= render 'devise/shared/billing_info' %>
  
  <div class="text-center mx-4">
    <%= link_to "Back", :back %>
  </div>
<% end %>

<% content_for :body_area do %>
  <div class="modal modal-blured" id="cropModal" tabindex="-1" role="dialog" aria-hidden="true">

  </div>
<% end %>
