<%= render 'user_profile_settings/header' %>

<div class="user-profile-settings">
  <div class="row">
    <div class="side-bar col-lg-3">
      <%= render partial: 'users/user_profile_nav', locals: {current_index: 'ACCOUNT'}  %>
    </div>
    <div class="main-content account-settings col-lg-9">
      <div class="row page-header">
        <div class="col-sm-12">
          <label class="title">
            ACCOUNT SETTINGS
          </label>
        </div>
      </div>
      <!-- 
        User Profile Edit Form 
       -->
      <%= form_for(resource, as: resource_name, url: usr_update_account_path, html: { class: 'form-signin', method: :put } ) do |f| %>
        
        <div class="row">
          <%= devise_error_messages! %>

          <div class="col-lg-12">
            <div class="form-group">
              <%= f.label :email, 'Email Address', class: 'required' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                class: 'form-control w-60', required: true %>
            </div>

            <div class="text-center mx-4">
              <% if current_user && devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
              <% end %>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <%= f.label :profile_url, 'PROFILE URL', class: 'required' %>
              <%= f.text_field :profile_url, autofocus: true, autocomplete: "Profile Url", 
                class: 'form-control w-60', required: true %>
            </div>
          </div>
          <% unless current_user && current_user.provider.present? %>
            <div class="col-lg-12">
              <label class="md-font change-password-header">CHANGE PASSWORD</label>
              <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, autocomplete: "off", required: true, 
                    class: 'form-control w-60', placeholder: "Current password" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :password, 'NEW PASSWORD', class: 'required' %>
                <%= f.password_field :password, autocomplete: "off", 
                    class: 'form-control' %>
              </div>
            </div>
            <% if current_user %>
              <div class="col-lg-6">
                <div class="form-group">
                  <%= f.label :password_confirmation, 'CONFIRM NEW PASSWORD', class: 'required' %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", 
                      class: 'form-control' %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="col-lg-3">
            <div class="form-group">
              <label>&nbsp;</label>
              <% btn_text = current_user ? 'SAVE PROFILE SETTINGS' : 'NEXT: MEMERSHIP LEVEL' %>
              <button class="btn c-btn-red btn-wide d-block profile-btn save-profile-btn">
                <%= btn_text %>
              </button>
            </div>
          </div>          
        </div>
      <% end %>
     <!-- 
      User Profile Edit Form
      -->
      <div class="subscription-panel">
        <div class="row row-eq-height vertical-align">
          <div class="col-lg-12">
            <label class="subscription-title" >SUBSCRIPTION</label>
          </div>
          <div class="col col-lg-4 insider-wrapper">
            <label class="insider-label">INSIDER</label>
            <div class="insider-right">
              <span class="insider-monthly">Monthly</span>
              <span class="insider-change">Change</span>
            </div>
          </div>
          <div class="col col-lg-4">
            <span class="text-white">Birdfeed promo code</span>
            <input type="text" />
          </div>
          <div class="col col-lg-4 cancel-account">
            <%= button_to "CANCEL ACCOUNT", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>