<% if comment.user == comment.commentable %>

  <div class="text-right" id="message-<%= comment.id %>">
    <%= render partial: 'likes/like_button', locals: { object: comment,  style: 'thumbup-reply' } %>

    <%= link_to comment_reply_form_path( 
        comment_id: comment.id, 
        commentable_id: comment.commentable_id,
        commentable_type: comment.commentable_type ),
        remote: true, id: "comment-#{comment.id}" do %>
      <%= image_tag 'icons/reply.svg', style: "width: 17px; height: 17px; margin-left: 10px;" %>

      <span class="comments-count-<%= comment.id %>"><%= comment.replies_count %></span>
    <% end %>

    <p class="feed-reply feed-owner" id="Comment-<%= comment.id %>">
      <% if current_user && current_user.id == comment.user_id %>
        <%= link_to edit_comment_path(comment), remote: true do %>
          <%= image_tag('icons/pencil.svg', class: "btn-post-edit") %>
        <% end %>

        <%= link_to comment, method: :delete, remote: true, 
              data: { confirm: "Are you sure you want to delete your comment?" } do %>
          <%= image_tag('icons/trash.svg', class: "btn-post-edit") %>
        <% end %>
      <% end %>

      &nbsp;
      <% if comment.edited_at.present? %>
        <i>edited</i>
      <% end %>

      <%= comment_with_meta_data(comment.body).html_safe %>

    </p>
    <%= image_tag(comment.user.avatar.thumb, class: "post-user-avatar") %>

    <div>
      <% comment.feed_images.each do |image| %>
        <a href="<%= image.image.url %>" data-lightbox="image-<%=image.id%>">
          <%= image_tag image.image, class: "feed-image mb-2" %>
        </a>
      <% end %>
    </div>

    <% if comment.replies.present? %>
      <%= render comment.replies.order(created_at: :asc) %>
    <% end %>
  </div>

<% else %>

  <div class="nested-messages" id="message-<%= comment.id %>">
    <%= link_to image_tag(comment.user.avatar.thumb, class: "post-user-avatar"), comment.user %>
    <div class="feed-reply" id="Comment-<%= comment.id %>">
      <%= comment_with_meta_data(comment.body).html_safe %>

      <% if current_user && current_user.id == comment.user_id %>
        <%= link_to edit_comment_path(comment), remote: true do %>
          <%= image_tag('icons/pencil.svg', class: "btn-post-edit") %>
        <% end %>

        <%= link_to comment, method: :delete, remote: true, 
              data: { confirm: "Are you sure you want to delete your comment?" } do %>
          <%= image_tag('icons/trash.svg', class: "btn-post-edit") %>
        <% end %>
      <% end %>

      &nbsp;
      <% if comment.edited_at.present? %>
        <i>edited</i>
      <% end %>
    </div>

    <%= render partial: 'likes/like_button', locals: { object: comment,  style: 'thumbup-reply' } %>

    <%= link_to comment_reply_form_path( 
        comment_id: comment.id, 
        commentable_id: comment.commentable_id,
        commentable_type: comment.commentable_type ),
        remote: true, id: "comment-#{comment.id}" do %>
      <%= image_tag 'icons/reply.svg', style: "width: 17px; height: 17px; margin-left: 10px;" %>
      <span class="comments-count-<%= comment.id %>"><%= comment.replies_count %></span>
    <% end %>

    <div>
      <% comment.feed_images.each do |image| %>
        <a href="<%= image.image.url %>" data-lightbox="image-<%=image.id%>">
          <%= image_tag image.image, class: "feed-image mb-2" %>
        </a>
      <% end %>
    </div>

    <% if comment.replies.present? %>
      <%= render comment.replies.order(created_at: :asc) %>
    <% end %>
  </div>

<% end %>