<div class="topic-line">
  <div class="row">
    <div class="col-sm-10 topics-link">
      <%= link_to chirp_topic_path( topic.category, topic ), class: 'row row-eq-height' do %>
        <div class="col-sm-2 topic-comments">
          <div class="row">
            <% if topic.locked %>
              <%= image_tag "icons/icon-lock.png", class: 'icon-locked' %>
            <% end %>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 text-center number-of-comments">
                      <%= "#{topic.posts.count}" %>
                </div>
                <div class="col-sm-12 text-center comments-word">
                      Comments
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-4 category-title">
              <%= topic.category.group.title.upcase + ' / ' + topic.category.title.upcase %> 
            </div>
          </div>
          <div class="row">
              <div class="col-sm-8 topic-title trucate">
                  <%= topic.title.html_safe %> 
              </div>
            <div class="col-sm-4 text-right topic-created-date">
              Created <b><%= "#{time_ago_in_words(topic.created_at)}" %> ago </b>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 topic-description truncate">
              This is the base of thequestion I am asking that shows a bit but then stop sto bit but then stop sto bit but then stop sto bit but then stop sto
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2">           
      <%= render 'follows/follow_button', object: topic %>
    </div>
  </div>
  <hr>
</div>