<div class="row">
    
  <% @groups.each do |group| %>

    <div class="col-lg-6 col-md-12 mb-4">
      <div class="c-panel bg-white">
        <div class="c-flag mb-3">
          <%= image_tag(group.image.url, class: "c-group-image") if group.image.present? %>
          <span><%= group.title.upcase %></span>
        </div>

        <ol class="topic-categories">
          <% group.categories.each do |category| %>
            <li>
              <%= link_to chirp_path( category ) do %>
              <%= "#{category.title}" %>
              <%= "<span class='topic-category-caption'> #{pluralize(category.topics.count, 'topic')}</span>".html_safe %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
</div>
