<script type='text/javascript'>
  $(document).on('turbolinks:load', function() {
    $('.row.topic-category-section').masonry({
      itemSelector : '.col-lg-6'
    });    
  });
</script>

<div class="topic-category-header">
  <img src="/assets/topic-category-bg.png" width="100%"/>
</div>
<div class="topic-category-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="topic-category-main-content">
        <div class="tcmc-header">
          <div class="row">
            <div class="col-sm-2">
              <%= link_to root_path, class: 'main-menu-back row' do%>
                <div class="col-sm-2">
                  <%= image_tag "icons/icon-chevron-left.svg" %>
                </div>
                <div class="col-sm-10">
                  MAIN MENU
                </div>
              <% end %>
            </div>
            <% if current_user %>
              <div class="col-sm-4 offset-sm-6 p-r-0 text-right">
                <button class="btn btn-category-header btn-categories" type="button" data-toggle="modal" data-target="#addTopicModal">
                  CATEGORIES
                </button>
              </div>
            <% end %>
          </div>  
        </div>
        <div class="tcmc-content">
          <% if @noteworthy_topics.length > 0 %>
            <div class="topic-section">
              <button class="topic-section-btn noteworthy-btn">
                NOTEWORTHY
              </button>    
              <% @noteworthy_topics.each do |topic| %>
                <%= render 'noteworthy_topic_individual_line', { topic: topic } %>
              <% end %>
            </div>
          <% end %>
          <div class="topic-section">
            <button class="topic-section-btn chirp-category-btn">
              CHIRP CATEGORIES
            </button>    
            <div class="row topic-category-section">
                
              <% @groups.each do |group| %>

                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="c-panel tcmc-sub-category-section">
                    <div class="c-flag mb-3 tcmc-sub-category-section-header">
                      <%= image_tag(group.image.url, class: "c-group-image") if group.image.present? %>
                      <span><%= group.title.upcase %></span>
                    </div>

                    <ol class="topic-categories">
                      <% group.categories.each do |category| %>
                        <li>
                          <%= link_to chirp_path( category ) do %>
                          <%= "#{category.title}" %>
                          <% end %>
                        </li>
                      <% end %>
                    </ol>
                  </div>
                </div>
              <% end %>
            </div>               
          </div>           
        </div>
      </div>  
    </div>
  </div>
</div>


