<div class="topics-header">
  <%#= image_tag(@category.image) if @category.image.present? %>
  <%= image_tag('crowd.jpg') %>
</div>


<%#= render 'topics/breadcrumbs' %>

<div class="topics-panel c-panel bg-white">
  <%= link_to image_tag('icons/icon-chevron-left.svg'), chirp_index_path, class: 'topics-back' %>
  <div class="c-flag c-flag-inner mb-4"><%= @category.title %></div>

  <%= link_to "Post a new topic", new_chirp_topic_path( chirp_id: @category.id ),
      class: "btn c-btn-transparent btn-wide" %>

  <% @category.topics.each do |topic| %>
    <div>
      <div class="topics-link">
        <%= link_to topic.title, chirp_topic_path( @category, topic ) %>
      </div>
      
      <%= render 'follows/follow_button', target: topic %>
      <hr>

    </div>
  <% end %>
</div>

