<% if current_user.braintree_subscription %>
<div class="signup-panel c-panel bg-white">
<!--   <p> Subscription Type:
    <%# if current_user.subscription_type == 'member' %>
      <%# if current_user.braintree_subscription.plan_id == ENV['BRAINTREE_MONTHLY_PLAN_ID'] %>
        Monthly
      <%# elsif current_user.braintree_subscription.plan_id == ENV['YEARLY_PLAN_ID'] %>
        Annual
      <%# end %>
    <%# end %>
  </p> -->

  <p> Next Bill Date:
    <%= current_user.braintree_subscription.next_billing_date %>
    for $<%= current_user.braintree_subscription.next_bill_amount %>
  </p>
  <p> Card:
    <% payment_method = current_user.braintree_customer.payment_methods.first %>
    <img src="<%= payment_method.image_url %>" width=37 height=25>
    <% if payment_method.respond_to?(:last_4) %>
      ending in <%= payment_method.last_4 %> <br>
      <button class="btn btn-default start-subscription mt-2">Update Credit Card</button>
    <% end %>
  </p>
  <p>
    If you're having issues with your account, please <%= link_to 'Contact Support', contacts_path %>!</p>
    <%= button_to "Cancel my Subscription", cancel_subscription_path, form_class: "unsubscribe-button", class: 'btn btn-danger', data: { confirm: "Are you sure you want to Cancel Your Subscription? This will take place immediately and no partial subscription will be refunded." }, method: :delete %>
    (Canceling will take place immediately and no partial subscription will be refunded)
  </p>
</div>
<% end %>