<% if defined?(@user) %>
  <div class="playlist-nav">
    <div class="playlist-nav-body">
      <ul>
        <li class="<%= 'active' if current_page?(user_path(current_user)) || current_page?(artist_path(current_user)) %>">
          <a href="/">
            BirdCall
          </a>
        </li>
        <li class="<%= 'active' if current_page?(chirp_index_path) %>">
          <%= link_to chirp_index_path do %>
            Chirp
            <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(chirp_index_path) %>
          <% end %>
        </li>

        <% listen = current_page?("/releases?player=true&user_id=#{@user.id}") ||
                    current_page?("/releases?filters[release_type]=2&player=true&user_id=#{@user.id}") ||
                    current_page?("/releases?filters[release_type]=1&player=true&user_id=#{@user.id}") ||
                    current_page?(playlists_path(user_id: @user.id)) ||
                    current_page?(player_favorites_path(@user)) ||
                    current_page?("/releases?filters[liked]=true&player=true&user_id=#{@user.id}") ||
                    current_page?(player_liked_tracks_path(@user)) ||
                    current_page?(player_recently_tracks_path(@user)) ||
                    current_page?(player_downloaded_tracks_path(@user)) ||
                    current_page?(playlist_path(@user)) %>
        <li class="<%= 'active-blue' if listen %>">
          <%= link_to player_main_area_path(current_user) do %>
            Listen
            <%= '<span class="sr-only">(current)</span>'.html_safe if listen %>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(artists_path) %>">
          <%= link_to artists_path do %>
            Connect
            <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(artists_path) %>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(leaderboard_path) %>">
          <%= link_to leaderboard_path do %>
            Play
            <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(leaderboard_path) %>
          <% end %>
        </li>
        <li class="playlist-nav-subheader">Music&nbsp;</li>
        <li class="<%= 'active' if current_page?("/releases?player=true&user_id=#{@user.id}") %>">
          <%= link_to "All", releases_path(player: true, user_id: @user.id), id: "playlist-all-releases" %>
        </li>
        <li class="<%= 'active' if current_page?("/releases?filters[release_type]=1&player=true&user_id=#{@user.id}") %>">
          <%= link_to "Birdfeed Exclusive", 
              releases_path(
                filters: { release_type: 1 }, 
                player: true,
                user_id: @user.id), 
              id: "playlist-exclusive-releases" %>
        </li>
        <li class="<%= 'active' if current_page?("/releases?filters[release_type]=2&player=true&user_id=#{@user.id}") %>">
          <%= link_to "Dirtybird Select", 
              releases_path(
                filters: { release_type: 2 }, 
                player: true,
                user_id: @user.id), 
              id: "playlist-select-releases" %>
        </li>
        <li class="playlist-nav-subheader">Library&nbsp;</li>
        <li class="<%= 'active' if current_page?(playlists_path(user_id: @user.id)) %>">
          <%= link_to "User Playlists", playlists_path(user_id: @user.id), 
              id: "playlist-user" %>
        </li>
        <li class="<%= 'active' if current_page?(player_favorites_path(@user)) %>">
          <%= link_to 'favorites', player_favorites_path(@user) %>
        </li>
<!--         <li class="<%= 'active' if current_page?("/releases?filters[liked]=true&player=true&user_id=#{@user.id}") %>">
          <%= link_to "Favorited Releases", 
              releases_path(
                filters: { liked: true }, 
                player: true, 
                user_id: @user.id), 
              id: "playlist-liked-releases" %>
        </li>
        <li class="<%= 'active' if current_page?(player_liked_tracks_path(@user)) %>">
          <%= link_to "Favorited Tracks", player_liked_tracks_path(@user),
              id: "playlist-favorited-tracks" %>
        </li> -->
        <li class="<%= 'active' if current_page?(player_recently_tracks_path(@user)) %>">
          <%= link_to "Recently Played", player_recently_tracks_path(@user),
              id: "playlist-favorited-tracks" %>
        </li>
        <li class="<%= 'active' if current_page?(player_downloaded_tracks_path(@user)) %>">
          <%= link_to "Downloads", player_downloaded_tracks_path(@user),
              id: "playlist-favorited-tracks" %>
        </li>
        <li class="playlist-nav-subheader">Playlists&nbsp;</li>
        <% for playlist in @playlists %>
          <li class="<%= 'active' if current_page?(playlist_path(playlist)) %>">
            <%= link_to playlist.name, playlist,
                id: "playlist-#{playlist.id}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
