<% if @user.has_role? :artist %>
  <%= render 'users/artist_header' %>
<% else %>
  <%= render 'users/user_header' %>
<% end %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player/player_page_menu' %>
  </div>

  <div class="col-lg-9 music-wrapper">
    <div class="music-block">
      <h2>Favorited Playlists</h2>
      <%= link_to 'see all', player_liked_playlists_path(@user), class: 'see-all' %>
      <%= render partial: 'playlists/list', locals: { playlists: @playlists } %>

      <h2 class="mt-4">Favorited  TRACKS</h2>
      <%= link_to 'see all', player_liked_tracks_path(@user), class: 'see-all' %>
      <%= render partial: 'playlists/playlist_items', 
          locals: { tracks: @tracks, source_type: 'liked', source_id: @user.id } %>

      <h2 class="mt-4">Favorited Releases</h2>
      <%= link_to "see all", 
          releases_path(
            filters: { liked: true }, 
            player: true, 
            user_id: @user.id),
            class: "see-all" %>
      <div class="row mt-3 releases-list">
        <% for release in @releases %>
          <div class="col-lg-4 col-md-6 mb-5">
            <%= render(release) %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
  
<%= render 'player/bottom_player' %>
