<% content_for :user_header_title do %>
  <%= image_tag 'icons/bird-blue.svg' %>
  Connect
<% end %>

<% if @user.has_role? :artist %>
  <%= render 'users/artist_header' %>
<% else %>
  <%= render 'users/user_header' %>
<% end %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player/player_page_menu' %>
  </div>

  <div class="col-lg-9 music-wrapper">
    <div class="music-block">
      main area
    </div>

  </div>
</div>

<%= render 'player/bottom_player' %>
