<div class="feed-form">
  <%= form_for @new_post, remote: true, 
      html: { id: (@topic_id.present? ? "new_post-#{@post_hash}" : "new_post") } do |f| %>
    <% if parent_id.present? %>
      <%= f.hidden_field :parent_id, value: parent_id %>
      <%= f.hidden_field :post_hash, value: @post_hash %>
    <% end %>
    <%= f.hidden_field :topic_id, value: (@topic_id || @topic.id) %>
    <div class="form-group">
      <%= f.label :text, "Text", class: "sr-only" %>
      <%= f.text_area :text, id: "post_text#{('-'+parent_id) if parent_id}", class: "form-control emoji-area", required: true %>
    </div>

    <%= render 'layouts/image_attach', object: f %>

    <%= f.submit "Add a Post", class: "btn c-btn-blue btn-wide" %>
  <% end %>
</div>