<div class="topics-header">
  <% if @category.image.present? %>
    <%= image_tag(@category.image) %>
  <% else %>
    <%= image_tag('crowd.jpg') %>
  <% end %>
</div>

<%#= render 'topics/breadcrumbs' %>

<div class="topics-panel c-panel bg-white">
  <%= link_to chirp_path(@topic.category), class: 'topics-back' do %>
   <%= image_tag('icons/icon-chevron-left.svg') %>
  <% end %>

  <h1><%= @topic.title %></h1>
  <p class="topic-text"><%= @topic.body.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></p>
  
  <div class="text-right mr-4"><%= render 'follows/follow_button', object: @topic %></div>

  <div class="feed-block" data-feed="topic" data-feed-id="<%= @topic.id %>">
    <%= render @topic.posts.order(created_at: :desc) %>
  </div>

  <%= render 'posts/form' %>
</div>
