<div class="user-music-present">
  <div class="<%= avatar_style(@user) %> d-block">
    <% if current_user && current_user.id == @user.id %>
      <%= form_for(@user, remote: true,
          html: { id: 'header-change-avatar', class: 'userpage-avatar left-avatar', method: :put } ) do |f| %>
        <%= image_tag @user.avatar.big_thumb %>
        <%= f.file_field :avatar, class: 'form-control-file' %>
        <%= f.hidden_field :avatar_cache %>
      <% end %>
    <% else %>
      <%= image_tag(@user.avatar.big_thumb.url, class: "userpage-avatar left-avatar") %>
    <% end %>

    <% if avatar_style(@user) == 'chirp-style' %>
      <%= image_tag 'icons/corner-chirp.png', class: 'chirp-corner' %>
    <% end %>
  </div>
  
  <div class="user-bgrd">
    <% case avatar_style(@user) %>
    <% when 'ninja-style' %>
      <%= image_tag 'headers/ninja-bacon.jpg' %>
    <% when 'admin-style' %>
      <%= image_tag 'headers/admin-admin.jpg' %>
    <% when 'boss-style' %>
      <%= image_tag 'headers/bossbird.jpg' %>
    <% when 'intern-style' %>
      <%= image_tag 'headers/Intern.jpg' %>
    <% when 'artist-style' %>
      <%= image_tag 'headers/Homey-Bird.jpg' %>
    <% when 'insider-style' %>
      <%= image_tag 'headers/Insider_bird.jpg' %>
    <% when 'vib-style' %>
      <%= image_tag 'headers/VIB-bird.jpg' %>
    <% else %>
      <%= image_tag 'headers/chirp_bird.jpg' %>
    <% end %>
  </div>

  <div class="user-info">
    <div class="userpage-name left-name">
      <h1><%= @user.name.upcase %></h1>
      <span>
        <%= "#{@user.address_city} / " %>
        <b><%= "#{@user.followers.count} #{'Friend'.pluralize(@user.followers.count)}" %></b>
      </span>
    </div>

    <% if @user.has_role?(:admin) %>
      <div class="user-since">Admin</div>
    <% else %>
      <div class="user-since">
        <%= image_tag 'icons/user-logo-icon.svg' %>
        <h4>
          <%= link_to choose_profile_path do %>
            <%= @user.subscriber_type %>
          <% end %>
        </h4>  
        <br>
        <p>Member Since <%= @user.created_at.strftime("%Y") %></p>
      </div>

      <div class="fan-points">
        <%= number_with_delimiter(user_position(@user), :delimiter => ',') %>
        <h4>Fam Status</h4>
      </div>

      <div class="fan-points">
        <%= number_with_delimiter(@user.points, :delimiter => ',') %>
        <h4>FAM POINTS</h4>
      </div>

    <% end %>

    <%= render partial: 'follows/follow_button', 
                locals: { object: @user, opt: { text: ['add friend','friends'] } } %>
  </div>
</div>

<div class="user-controls sticky-top">
  <div class="row h-100">
    <div class="col-lg-3 px-0 c-btn-group two-btns">
      <% artist = current_page?(user_path(@user)) || current_page?(admin_path(@user)) %>
      <% classes = ["btn btn-wide c-btn-blue btn-square", "btn btn-wide c-btn-black btn-square btn-disabled"] %>
      <%= link_to "Feed", @user, 
          class: artist ? classes[1] : classes[0] %><!--
     --><%= link_to "My Music", playlists_path(user_id: @user), 
          class: artist ? classes[0] : classes[1] %>
    </div>
    <div class="col-lg-9 px-0">
      <div class="user-header-title"><%= content_for :user_header_title %></div>
    </div>
  </div>
  
  <div style="margin-top: 13px;">
    <%= image_tag 'icons/icon-chevron-black.svg', 
        style: 'cursor: pointer; margin-right: 30px;', 
        onclick: "window.history.back();" %>
    <%= image_tag 'icons/icon-chevron-black.svg', 
        style: 'cursor: pointer; transform: rotate(180deg);', 
        onclick: "window.history.forward();" %>
  </div>
</div>

<% if current_user && current_user.id == @user.id %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="cropModal" tabindex="-1" role="dialog" aria-hidden="true">

    </div>
  <% end %>
<% end %>
