<div class="user-present mb-5">
  <% if current_user && current_user.id == @user.id %>
    <%= form_for(@user, remote: true,
        html: { id: 'change-avatar', class: 'userpage-avatar left-avatar', method: :put } ) do |f| %>
      <%= image_tag @user.avatar.big_thumb %>
      <%= f.file_field :avatar, class: 'form-control-file' %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
  <% else %>
    <%= image_tag(@user.avatar.big_thumb.url, class: "userpage-avatar left-avatar") %>
  <% end %>
  
  <div class="user-bgrd">
    <%#= image_tag 'dj.jpg' %>

    <div class="user-info">
      <div class="userpage-name left-name">
        <h1><%= @user.name.upcase %></h1>
        <span>
          <%= "#{@user.city} / " %>
          <b><%= "#{@user.followers.count} #{'Follower'.pluralize(@user.followers.count)}" %></b>
        </span>
      </div>

      <% if @user.has_role?(:admin) %>
        <div class="user-since">Admin</div>
      <% else %>
        <div class="user-since">
          <%= image_tag 'icons/user-logo-icon.svg' %>
          <%= link_to choose_profile_path(anchor: 'billing-information') do %>
            <%= @user.subscriber_type %>
            <!-- CHIRP  -->
            <%# if @user.braintree_subscription_expires_at && 
                Date.today <= @user.braintree_subscription_expires_at %>
              <!-- PAID -->
            <%# else %>
              <!-- FREE -->
            <%# end %>
          <% end %>
          <br>
          <p>Member Since <%= @user.created_at.strftime("%Y") %></p>
        </div>

        <div class="user-info-divider"></div>

        <div class="fan-points">
          <small>Fan Status</small>
          <h4><%= @user.points %> POINTS&nbsp;&nbsp;/</h4>
        </div>

        <div class="fan-position">
          <small>Leaderboard</small>
          <h4><%= "##{user_position @user}" %></h4>
        </div>
      <% end %>
    </div>

    <%= render 'follows/follow_button', object: @user %>
  </div>
</div>