<%= render 'users/user_header' %>

<div class="row mb-2">
  <!-- FAN FEED -->
  <div class="col-md-8" id="user-feed">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">BIRDFEED</div>

      <% if current_user && current_user.id == @user.id %>
        <button class="btn c-btn-blue mt-1" type="button" data-toggle="modal" data-target="#whatsinyourmindModal">
          WHAT’S IN YOUR MIND
        </button>
      <% end %>

      <div class="feed-block">
        <%= render 'feeds/commentable_feed' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="sticky-top">
      <div class="c-panel bg-white mb-4">
        <div class="c-flag c-flag-inner mb-4"></div>

        <div>

        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user && current_user.id == @user.id %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="cropModal" tabindex="-1" role="dialog" aria-hidden="true">

    </div>
  <% end %>
<% end %>

<% if current_user && current_user.id == @user.id %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="whatsinyourmindModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title">What's in your mind?</h5>

            <%= form_for current_user.comments.build, 
                html: { class: "feed-form" },
                remote: true do |f| %>
              <%= f.hidden_field :commentable_type, value: "User" %>
              <%= f.hidden_field :commentable_id, value: @user.id %>

              <%= f.label :title, class: "sr-only" %>
              <%= f.text_field :title, placeholder: "Type the title here" %>
              <%= f.label :body, class: "sr-only" %>
              <%= f.text_area :body, rows: 10, placeholder: "Type text", 
                  max: 200, class: "emoji-area" %>
              <%= f.submit "ADD TO FEED", class: "btn c-btn-blue btn-wide mt-2" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>