<div class="user-present">
  <% if @user.artist_info && @user.artist_info.avatar.present? %>
    <%= image_tag  @user.artist_info.avatar.url, class: "userpage-avatar" %>
  <% elsif @user.avatar.present? %>
    <%= image_tag @user.avatar.url, class: "userpage-avatar" %>
  <% end %>
  <%= image_tag 'icons/point-green-big.svg', class: "artist-online" if @user.online? %>

  <div class="user-bgrd" >
    <%= image_tag 'dj.jpg'%>
  </div>

  <%= render 'follows/follow_button', target: @user %>

  <div class="artist-name">
    <h1><%= @user.name.upcase %></h1>
    <span>
      <% if @user.artist_info %>
        <%= "#{@user.artist_info.genre} / " if @user.artist_info.genre.present? %>
        <b><%= "#{@user.artist_info.followers_count} #{'Follower'.pluralize(@user.artist_info.followers_count)}" %></b>
      <% end %>
    </span>
  </div>

  <% if @user.artist_info.present? %>
    <div class="artist-social">
      <%= link_to image_tag('icons/artist-dirtybird.svg'), 
            @user.artist_info.instagram if @user.artist_info.instagram.present? %>
      <%= link_to image_tag('icons/artist-facebook.svg'), 
            @user.artist_info.facebook if @user.artist_info.facebook.present? %>
      <%= link_to image_tag('icons/artist-twitter.svg'), 
            @user.artist_info.twitter if @user.artist_info.twitter.present? %>
    </div>
  <% end %>

  <div class="user-since">
    <%= image_tag 'icons/egg.svg' %>
    DIRTYBIRD ARTIST<br>
    <span>Since <%= @user.created_at.strftime("%Y") %></span>
  </div>

  <div class="artist-bio truncated-description">
    <% if @user.artist_info.present? %>
      <article><%= @user.artist_info.bio_short %></article>
      <a href="#" class="truncated-long">Read more</a>
      <article><%= @user.artist_info.bio_long %></article>
      <a href="#" class="truncated-short"><br><br>Read less</a>
    <% end %>
  </div>
</div>

<% if @releases.any? %>
  <div class="release-flag-block mt-4">
    <div class="c-flag">RELEASES FEED</div>
  </div>

  <div class="h-carousel mb-4">
    <% @releases.each do |release| %>
      <div class="item-wide">
        <% if release.avatar.present? %>
          <%= link_to image_tag(release.avatar.url), release, class: "item-avatar" %>
        <% end %>
        <div class="item-body">
          <%= link_to image_tag('icons/icon-expand.svg'), release, class: "item-expand" %>
          <h3>
            <%= release.title.truncate(70).upcase %>
            <%= render 'likes/like_button', object: release %>
          </h3>

          <p>Released date: <%= time_ago_in_words( release.release_date ) %> ago</p>

          <p class="item-text"><%= release.text.html_safe.truncate(220) %></p>

          <%= link_to "LISTEN", get_release_tracks_path(release.id), 
              id: "play-release-#{release.id}",
              class: "btn c-btn-white c-btn-sm release-listen", remote: true %>

          <div class="jp-controls" style="display: none;">
            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
            <button class="jp-previous" role="button" tabindex="0"></button>
            <button class="jp-play jp-play-release" data-release="<%= release.id %>" role="button" tabindex="1"></button>
            <button class="jp-next" role="button" tabindex="2"></button>
            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
          </div>

          <%= link_to image_tag('icons/icon-download.svg'), "#", class: "icon-download" %>
          
          <a href="#" title="Share" tabindex="0" data-toggle="popover" data-placement="left" data-content="<%= (social_share_button_tag(release.title, desc: release.text)).gsub('\"','\'') %>" data-trigger="focus" data-html="true" onclick="return false;" class="icon-share">
            <%= image_tag('icons/icon-share.svg') %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row mb-2">
  <!-- ARTIST FEED -->
  <div class="col-md-8" id="user-feed">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">ARTIST FEED</div>
        <button class="btn c-btn-blue mt-1" type="button" data-toggle="modal" data-target="#whatsinyourmindModal">
          WHAT’S IN YOUR MIND
        </button>
      <div class="feed-block">
        <ul class="feed-tabs">
          <li class="nav-item">
            <%= link_to "All", artist_path(@user, anchor: "user-feed"),
                class: "#{'active' if current_page?(artist_path(@user))}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Announcements", announcements_feed_path(@user, anchor: "user-feed"), 
                class: "#{'active' if current_page?(announcements_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Interviews", interviews_feed_path(@user, anchor: "user-feed"), 
                class: "#{'active' if current_page?(interviews_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Videos", videos_feed_path(@user, anchor: "user-feed"), 
                class: "#{'active' if current_page?(videos_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Others", others_feed_path(@user, anchor: "user-feed"),
                class: "#{'active' if current_page?(others_feed_path)}" %>
          </li>
        </ul>
        <%= render 'feeds/user' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <!-- LAST VIDEO -->
    <% if @user_video.present? %>
      <div class="c-panel bg-white mb-4">
        <iframe id="ytplayer" type="text/html" width="100%" height="100%"
          src="https://www.youtube.com/embed/<%= @user_video.parse_youtube %>"
          frameborder="0"></iframe>
        <div class="panel-sign">
          <h4><%= @user_video.title.upcase %></h4>
          <p>Published on <%= @user_video.created_at.strftime("%B, %-d, %Y") %></p>
        </div>
      </div>
    <% end %>

    <!-- FOLLOWERS -->
    <% if @followers.any? %>
      <div class="c-panel bg-white">
        <div class="c-flag c-flag-inner mb-4">FOLLOWERS</div>

        <ol class="users-block light-scroll list-unstyled mt-1">
          <% @followers.each do |user| %>
            <li>
              <%= link_to user_path(user), class: "d-inline-block align-middle" do %>
                <%= image_tag user.avatar.thumb, class: "user-avatar" %>
              <% end %>
              <div>
                <h5>
                  <%= link_to user.name, user_path(user) %>
                  <%= image_tag 'icons/point-green.svg', class: "point-green" if user.online? %>
                </h5>
                <div>
                  <%= user.city %> 
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>

<% if current_user %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="whatsinyourmindModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title">What's in your mind?</h5>

            <%= form_for current_user.comments.build, html: { class: "feed-form" } do |f| %>
              <%= f.hidden_field :commentable_type, value: "User" %>
              <%= f.hidden_field :commentable_id, value: @user.id %>
              <%= f.label :title, class: "sr-only" %>
              <%= f.text_field :title, placeholder: "Type the title here" %>
              <%= f.label :body, class: "sr-only" %>
              <%= f.text_area :body, rows: 10, placeholder: "Type text", max: 200 %>
              <%= f.submit "ADD TO FEED", class: "btn c-btn-blue btn-wide" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
