<div class="user-present">
  <% if @artist.artist_info && @artist.artist_info.avatar.present? %>
    <%= image_tag  @artist.artist_info.avatar.url, class: "userpage-avatar" %>
  <% elsif @artist.avatar.present? %>
    <%= image_tag @artist.avatar.url, class: "userpage-avatar" %>
  <% end %>
  <%= image_tag 'icons/point-green-big.svg', class: "artist-online"%>

  <div class="user-bgrd" >
    <%= image_tag 'dj.jpg'%>
  </div>

  <%= render 'follows/follow_button', target: @artist %>

  <div class="artist-name">
    <h1><%= @artist.name.upcase %></h1>
    <span>
      <% if @artist.artist_info %>
        <%= "#{@artist.artist_info.genre} / " if @artist.artist_info.genre.present? %>
        <b><%= "#{@artist.artist_info.followers_count} #{'Follower'.pluralize(@artist.artist_info.followers_count)}" %></b>
      <% end %>
    </span>
  </div>

  <% if @artist.artist_info.present? %>
    <div class="artist-social">
      <%= link_to image_tag('icons/artist-dirtybird.svg'), 
            @artist.artist_info.instagram if @artist.artist_info.instagram.present? %>
      <%= link_to image_tag('icons/artist-facebook.svg'), 
            @artist.artist_info.facebook if @artist.artist_info.facebook.present? %>
      <%= link_to image_tag('icons/artist-twitter.svg'), 
            @artist.artist_info.twitter if @artist.artist_info.twitter.present? %>
    </div>
  <% end %>

  <div class="user-since">
    <%= image_tag 'icons/egg.svg' %>
    DIRTYBIRD ARTIST<br>
    <span>Since <%= @artist.created_at.strftime("%Y") %></span>
  </div>

  <div class="artist-bio truncated-description">
    <% if @artist.artist_info.present? %>
      <article><%= @artist.artist_info.bio_short %></article>
      <a href="#" class="truncated-long">Read more</a>
      <article><%= @artist.artist_info.bio_long %></article>
      <a href="#" class="truncated-short"><br><br>Read less</a>
    <% end %>
  </div>
</div>

<% if @releases.any? %>
  <div class="release-flag-block mt-4">
    <div class="c-flag">RELEASES FEED</div>
  </div>

  <div class="h-carousel mb-4">
    <% @releases.each do |release| %>
      <div class="item-wide">
        <% if release.avatar.present? %>
          <%= link_to image_tag(release.avatar.url), release, class: "item-avatar" %>
        <% end %>
        <div class="item-body">
          <%= link_to image_tag('icons/icon-expand.svg'), release, class: "item-expand" %>
          <h3>
            <%= release.title.truncate(70).upcase %>
            <%= render 'likes/like_button', object: release %>
          </h3>

          <p>Released date: <%= time_ago_in_words( release.release_date ) %> ago</p>

          <p class="item-text"><%= release.text.html_safe.truncate(220) %></p>

          <%= render 'layouts/artist_player', object: release %>

          <%= link_to image_tag('icons/icon-download.svg'), "#", class: "icon-download" %>
          <%= link_to image_tag('icons/icon-share.svg'), "#", class: "icon-share" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row mb-2">
  <!-- ARTIST FEED -->
  <div class="col-md-8" id="artist-feed">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">ARTIST FEED</div>
        <button class="btn c-btn-blue mt-1" type="button" data-toggle="modal" data-target="#whatsinyourmindModal">
          WHAT’S IN YOUR MIND
        </button>
      <div class="feed-block light-scroll">
        <ul class="feed-tabs">
          <li class="nav-item">
            <%= link_to "All", artist_path(@artist, anchor: "artist-feed"),
                class: "#{'active' if current_page?(artist_path(@artist))}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Announcements", announcements_feed_path(@artist, anchor: "artist-feed"), 
                class: "#{'active' if current_page?(announcements_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Interviews", interviews_feed_path(@artist, anchor: "artist-feed"), 
                class: "#{'active' if current_page?(interviews_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Videos", videos_feed_path(@artist, anchor: "artist-feed"), 
                class: "#{'active' if current_page?(videos_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Others", others_feed_path(@artist, anchor: "artist-feed"),
                class: "#{'active' if current_page?(others_feed_path)}" %>
          </li>
        </ul>
        <%= render 'feeds/user' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <!-- LAST VIDEO -->
    <% if @artist_video.present? %>
      <div class="c-panel bg-white mb-4">
        <iframe id="ytplayer" type="text/html" width="100%" height="100%"
          src="https://www.youtube.com/embed/<%= @artist_video.parse_youtube %>"
          frameborder="0"></iframe>
        <div class="panel-sign">
          <h4><%= @artist_video.title.upcase %></h4>
          <p>Published on <%= @artist_video.created_at.strftime("%B, %-d, %Y") %></p>
        </div>
      </div>
    <% end %>

    <!-- FOLLOWERS -->
    <% if @followers.any? %>
      <div class="c-panel bg-white">
        <div class="c-flag c-flag-inner mb-4">FOLLOWERS</div>

        <ol class="users-block light-scroll list-unstyled mt-1">
          <% @followers.each do |user| %>
            <li>
              <%= link_to user_path(user), class: "d-inline-block align-middle" do %>
                <%= image_tag user.avatar.thumb, class: "user-avatar" %>
              <% end %>
              <div>
                <h5>
                  <%= link_to user.name, user_path(user) %>
                  <%= image_tag 'icons/point-green.svg', class: "point-green" if user %>
                </h5>
                <div>
                  <% if user.shipping_address.present? 
                    address = user.shipping_address.match(/[^,]+,[^,]+,\s?USA$|[^,]+,[^,]+$/)
                    end %>
                  <%= "from #{address}" if address.present? %> 
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>

<% if current_user %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="whatsinyourmindModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="modal-title">What's in your mind?</h5>

            <%= form_for current_user.comments.build, html: { class: "feed-form" } do |f| %>
              <%= f.hidden_field :commentable_type, value: "User" %>
              <%= f.hidden_field :commentable_id, value: @artist.id %>
              <%= f.label :title, class: "sr-only" %>
              <%= f.text_field :title, placeholder: "Type the title here" %>
              <%= f.label :body, class: "sr-only" %>
              <%= f.text_area :body, rows: 10, placeholder: "Type text", max: 200 %>
              <%= f.submit "ADD TO FEED", class: "btn c-btn-blue btn-wide" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
