<div class="artist-present">
  <% if @artist.artist_info && @artist.artist_info.avatar.present? %>
    <%= image_tag  @artist.artist_info.avatar.url, class: "artist-avatar" %>
  <% elsif @artist.avatar.present? %>
    <%= image_tag @artist.avatar.url, class: "artist-avatar" %>
  <% end %>
  <%= image_tag 'icons/point-green-big.svg', class: "artist-online"%>

  <div class="artist-bgrd" >
    <%= image_tag 'dj.jpg'%>
  </div>

  <%= render 'follows/follow_button', target: @artist %>

  <div class="artist-name">
    <h1><%= @artist.name.upcase %></h1>
    <span>
      <%= "#{@artist.artist_info.genre} / " if @artist.artist_info && @artist.artist_info.genre.present? %>
      <b><%= @artist.followers.count %> Followers</b>
    </span>
  </div>

  <% if @artist.artist_info.present? %>
    <div class="artist-social">
      <%= link_to image_tag('icons/artist-dirtybird.svg'), 
            @artist.artist_info.instagram if @artist.artist_info.instagram %>
      <%= link_to image_tag('icons/artist-facebook.svg'), 
            @artist.artist_info.facebook if @artist.artist_info.facebook %>
      <%= link_to image_tag('icons/artist-twitter.svg'), 
            @artist.artist_info.twitter if @artist.artist_info.twitter %>
    </div>

    <div class="artist-since">
      <%= image_tag 'icons/egg.svg' %>
      DIRTYBIRD ARTIST<br>
      <span>Since <%= @artist.created_at.strftime("%Y") %></span>
    </div>

    <div class="artist-bio">

      <span><%= @artist.artist_info.bio_short %></span>
      <a href="#" class="artist-bio-long">Read more</a>
      <span><%= @artist.artist_info.bio_long %></span>
      <a href="#" class="artist-bio-short"><br><br>Read less</a>
    </div>
  <% end %>
</div>

<% if @releases.any? %>
  <div class="release-flag-block mt-4">
    <div class="c-flag">RELEASES FEED</div>
  </div>

  <div class="h-carousel mb-4">
    <% @releases.each do |release| %>
      <div class="item item-wide">
        <%= image_tag release.avatar.url if release.avatar.present? %>
        <div class="item-body">
          <%= link_to image_tag('icons/icon-expand.svg'), release, class: "item-expand" %>
          <h3>
            <%= release.title.truncate(70).upcase %>
            <%= render 'likes/like_button', object: release %>
          </h3>

          <p>Released date: <%= time_ago_in_words( release.release_date ) %> ago</p>

          <p class="item-text"><%= release.text.html_safe.truncate(220) %></p>

          <%= render 'layouts/artist_player', object: release %>

          <%= link_to image_tag('icons/icon-download.svg'), "#", class: "icon-download" %>
          <%= link_to image_tag('icons/icon-share.svg'), "#", class: "icon-share" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<ol>
  <% if @followers.any? %>
    Fans following this artist
    <% @followers.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  <% else %>
    No followers yet
  <% end %>
</ol>


<div>
  <iframe id="ytplayer" type="text/html" width="auto" height="auto"
    src="https://www.youtube.com/embed/<%= @artist.artist_info.parse_youtube if @artist.artist_info %>"
    frameborder="0"></iframe>
</div>



<!-- 
<div class="row">
  <div class="col-sm-8">
    <% for activity in @activities %>
      <%= render_activity activity  %>
    <% end %>
  </div>
</div>
 -->