<div class="signup-header">
  <%= image_tag '/images/birdfeed-header.jpg', class: "h-100" %>
  <%= image_tag 'signup-logo.png', class: "signup-logo" %>
</div>

<div id="step-1" class="signup-panel c-panel bg-white">
  <div class="big-blue-number">1.</div>
  <h1>LET’S GET STARTED.</h1>
  <div>First, we’re going to need some info.</div>

  <%= form_for(current_user, as: resource_name, url: registration_path(current_user), 
        html: { class: 'form-signin' } ) do |f| %>
    <%= render partial: 'devise/registrations/registration_form', locals: { f: f } %>
  <% end %>
</div>

<%= render partial:  'users/braintree_form', locals: { new_subscription: params[:new_subscription] || true } %>

<%= render 'devise/shared/billing_info' %>
