<div class="signup-header">
  <%= image_tag '/images/birdfeed-header.jpg', class: "h-100" %>
  <div class="success-banner signup-logo">
    <div class="success-logo">
      <%= image_tag 'icons/flash.svg', class: "flash-lightning" %>
      <%= image_tag 'birdfeed-logo-white.png', class: 'success-logo-img' %>
    </div>

    <div class="text-1">
      WELCOME
      <%= image_tag 'icons/red-bird.svg', class: "d-inline" %>
      FAM! 
    </div>

    <div class="text-2">
      LEt’s GET You IN
    </div>

    <div class="success-bottom">
      LISTEN&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;CONNECT&nbsp;&nbsp;&nbsp;&nbsp;//&nbsp;&nbsp;&nbsp;&nbsp;PLAY
    </div>
  </div>
</div>

<div id="step-1" class="signup-panel c-panel bg-white">
  <div class="big-blue-number">1.</div>
  <h1>LET’S GET STARTED.</h1>
  <div>First, we’re going to need some info.</div>

  <%= form_for(current_user, as: :user, url: registration_path(current_user), 
        html: { class: 'form-signin' } ) do |f| %>
    <%= render partial: 'devise/registrations/registration_form', locals: { f: f } %>
  <% end %>
</div>

<%= render partial:  'users/braintree_form', locals: { new_subscription: params[:new_subscription] || true } %>

<%= render 'devise/shared/billing_info' %>
