<div class="container">  
  <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "All", root_path, 
              class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "User Activity", activity_feed_users_path, 
              class: "nav-link #{'active' if current_page?(activity_feed_users_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Chrip feed", chrip_feed_users_path, 
              class: "nav-link #{'active' if current_page?(chrip_feed_users_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Track Feed", track_feed_users_path, 
              class: "nav-link #{'active' if current_page?(track_feed_users_path)}" %>
        </li>
      </ul>
      <% for activity in @activities %>
        <%= render_activity activity  %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div class="card bg-success user-leaderboard mb-2">
        <div class="card-body">
          Leaderboard
          <ol>
            <% @leader_users.each do |leader| %>
              <li>
                <%= link_to user_path(leader) do %>
                  <%= image_tag leader.avatar.thumb %>
                  <%= leader.name %>
                <% end %>
                some rates
              </li>
            <% end %>
          </ol>
        </div>
      </div>

      <div class="card bg-primary user-signup-block">
        <div class="card-body">
          Sign up block
        </div>
      </div>
    </div>
  </div>
</div>