<div class="c-flag">LEADERBOARD</div>

<div class="c-flag-links">
  <%= link_to "Top 5", leaderboard_path %>
  <b>All</b>
</div>

<ul class="leaderboard">
  <% leader_users_ids = @leader_users.map {|u| u['id']} %>
  <% @leader_users.each do |u| %>
    <% user = User.find u['id'] %>
    <li style="margin-bottom: 20px;">
      <% page = params[:page] || 1 %>
      <span class="leaderboard-position">
        <%# #TODO make it normal %>
        <%= (leader_users_ids.index(user.id) + 1) + ((page.to_i - 1) * 9) %>
      </span>

      <%= link_to user, class: "d-inline-block align-middle" do %>
        <%= image_tag user.avatar.thumb, class: "user-avatar" %>
      <% end %>

      <div style="display: inline-block; width: 80%; margin-left: 20px; margin-bottom: 2px; vertical-align: bottom;">
        <div style="display: inline-block; width: 165px; overflow: hidden; white-space: nowrap;">
          <%= link_to user.name.upcase, user, style: "color: #222;" %>
          <%= image_tag 'icons/point-green.svg', class: "point-green" if user.online? %>
        </div>
        <b><%= "#{user.points} POINTS" %></b>
        <%= "/ #{user.badges.count} badges" if user.badges.count > 0 %>

        <div>
          <div style="float: left; line-height: 20px; margin-right: 10px;">
            <% @badge_kinds.each do |kind| %>
              <div><b><%= kind.name %></b></div>
            <% end %>
          </div>

          <div style="float: right; line-height: 20px; width: 300px; display: flex; align-items: center;">
            <div>
              <% @badge_kinds.each do |kind| %>
                <div><b><%= user.points(kind.id) %></b></div>
              <% end %>
            </div>
            <% user.badges.order(points: :desc).limit(3).each do |badge| %>
              <div class="mx-3">
                <%= image_tag badge.image.thumb.url if badge.image.present? %>
              </div>
            <% end %>
          </div>

          <div>
            <div style="display: inline-block; vertical-align: top; margin: 3px 10px 0 0; width: 50%">
              <div class="progress-blue">
                <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div style="display: inline-block; vertical-align: top; margin: 3px 10px 0 0; width: 50%">
              <div class="progress-yellow">
                <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div style="display: inline-block; vertical-align: top; margin: 3px 10px 0 0; width: 50%">
              <div class="progress-red">
                <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @leader_users1, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>