<h1>Leaderboard</h1>
<ol>
  <% @leader_users.each do |user| %>
    <li>
      <%= link_to user_path(user) do %>
        <%= image_tag user.avatar.thumb, class: "user-avatar" %>
        <%= user.name %>
      <% end %>
      has <%= user.points %> points 
      <%= "and #{user.badges.order(points: :asc).last.name}" if user.badges.present? %>
      <%= " | since #{user.created_at.strftime('%D')}" %>
    </li>
  <% end %>
</ol>
