<div style="display:flex;">
  <span>Login as:&nbsp;</span>
  <%= button_to  User.with_role(:admin).first.name, demo_login_path, params: {user_id: User.with_role(:admin).first.id}, method: :post %>
  <%= button_to  @other_user.name, demo_login_path, params: {user_id: @other_user.id}, method: :post %>
</div>

<hr>

<% if current_user %>
  <h3>Users list:</h3>
  <div style="height: 200px; overflow: scroll;">
    <ul class="list-group" style="width: 500px;">
      <% @users.each do |user| %>
        <li class="list-group-item" style="display:flex;">
          <span style="display: inline-block; width: 70px"><%= user.name %></span>&nbsp;
          <%= render 'follows/follow_button', target: user %>&nbsp;
          <%= user.points %> points&nbsp;
          <%#= link_to "accure 100 points", demo_get_100_path(user) %>&nbsp;
          <%= user.roles.pluck(:name).join %>
        </li>
      <% end %>
    </ul>
  </div>

  <hr>
    <!-- # TODO     <b>Release, track(?), topic, post</b> has <b>Like</b> button, <b>Comment</b> field<br>
        Comments also likable<br>
        User can see who liked and who commented and visit their profile<br> 
        where can follow them (leave private message?) -->
  <div class="row">
    <div class="col">
      <h3 class="mt-4r">Releases and tracks</h3>
      <ul class="list-group">
        <% @releases.each do |release| %>
          <li class="list-group-item">
            <div>
              <b>Release:</b> <%= release.title %>
              <%= render partial: 'likes/like_button', locals: { object: release,  style: 'thumbup' } %>
            </div>

            <div style="display:flex;flex-direction:column;align-items:flex-start;">
              <b>Release comments:</b>
              <ol>
                <% release.comments.each do |comment| %>
                  <li>
                    <hr class="m-0">
                    <%= comment.body %>
                    <%= render partial: 'likes/like_button', locals: { object: comment,  style: 'thumbup' } %>
                  </li>
                <% end %>
              </ol>
            </div>

            <div>
              <%= form_for release.comments.build , html: { style: "display:flex;" } do |f| %>
                <%= f.hidden_field :commentable_type, value: "Release" %>
                <%= f.hidden_field :commentable_id, value: release.id %>
                <%= f.text_area :body, rows: 1, placeholder: "Leave a comment" %>
                <%= f.submit "Send" %>
              <% end %>
            </div>

            <hr>
            <b>Release tracks:</b>
            <ol>
              <% release.tracks.each do |track| %>
                <li>
                  <%= track.title %>
                </li>
              <% end %>
            </ol>
          </li>
        <% end %>
      </ul>

      <h3 class="mt-4r">To Users comments</h3>
      <ul class="list-group">
        <% User.order(id: :asc).limit(3).each do |user| %>
          <li class="list-group-item">
            <div>
              <b>User:</b> <%= user.name %>
            </div>

            <div style="display:flex;flex-direction:column;align-items:flex-start;">
              <b>User comments:</b>
              <ol>
                <% user.commented.each do |comment| %>
                  <li>
                    <hr class="m-0">
                    <%= comment.body %>
                    <%= render partial: 'likes/like_button', locals: { object: comment,  style: 'thumbup' } %>
                  </li>
                <% end %>
              </ol>
            </div>

            <div>
              <%= form_for user.comments.build , html: { style: "display:flex;" } do |f| %>
                <%= f.hidden_field :commentable_type, value: "User" %>
                <%= f.hidden_field :commentable_id, value: user.id %>
                <%= f.text_field :title %>
                <%= f.text_area :body, rows: 1, placeholder: "Leave a comment" %>
                <%= f.submit "Send" %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
    <div class="col">
      <h3>Other user's (<%= @other_user.name %>) feed:</h3>
      <%#= render 'feeds/user' %>
    </div>
  </div>
  
<% end %>
