<div class="release-flag-block">
  <div class="c-flag">LATEST RELEASES</div>
  <%= link_to "SEE ALL", releases_path, class: "btn c-btn-blue" %>
</div>

<div class="h-carousel mb-4">
  <% @releases.each do |release| %>
    <div class="item-with-tongue">
      <div>
        <div class="item-body">
          <div class="item-panel">
            <h3><%= link_to release.title.upcase, release_path(release) %></h3>
            <p><%= link_to release.text.html_safe.truncate(350), release_path(release) %></p>
          </div>
          <div class="item-footer">
            <%= link_to release, class: "c-link" do %>
              <%= release.tracks.count %>
              <%= "Track".pluralize(release.tracks.count) %>
            <% end %>

            <%= link_to "LISTEN", get_release_tracks_path(release.id), 
                id: "play-release-#{release.id}",
                class: "btn c-btn-white c-btn-sm", remote: true %>

            <div class="jp-controls release-jp-controls" style="display: none;">
              <button class="jp-previous" role="button" tabindex="0"></button>
              <button class="jp-play" role="button" tabindex="1"></button>
              <button class="jp-next" role="button" tabindex="2"></button>
            </div>

            <a href="#" title="Share" tabindex="0" data-toggle="popover" data-placement="left" data-content="<%= (social_share_button_tag(release.title, desc: release.text)).gsub('\"','\'') %>" data-trigger="focus" data-html="true" onclick="return false;" class="c-link">
              Share
            </a>
          </div>
        </div>
        <%= image_tag release.avatar.url if release.avatar.present? %>
        <%= image_tag release.avatar.url, class: "item-blured-img" if release.avatar.present? %>
      </div>
      <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
    </div>
  <% end %>
</div>

<div class="row mb-2">
  <!-- FANS LEADERBOARD -->
  <div class="col-md-8">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">FANS LEADERBOARD</div>
      <%= link_to "SEE ALL", users_path, class: "btn c-btn-blue float-right" %>

      <ol class="fans-block light-scroll mt-1">
        <% @leader_users.each do |leader| %>
          <li style="margin-bottom: 20px;">
            <%= link_to user_path(leader), class: "d-inline-block align-middle" do %>
              <%= image_tag leader.avatar.thumb, class: "user-avatar" %>
            <% end %>

            <div class="fan-body">
              <div class="fan-name">
                <%= leader.name.upcase %>
                <%= image_tag 'icons/point-green.svg', class: "point-green" if leader %>
              </div>
              <b><%= "#{leader.points} POINTS" %></b>

              <div class="rating-chart">
                <div class="rating-kinds">
                  <% @badge_kinds.each do |kind| %>
                    <div><%= kind.name %></div>
                  <% end %>
                </div>

                <div class="rating-kind-points">
                  <% @badge_kinds.each do |kind| %>
                    <div><%= leader.points(kind.id) %></div>
                  <% end %>
                </div>

                <div class="rating-bars">
                  <div class="progress-wrapper">
                    <div class="progress-blue">
                      <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="progress-wrapper">
                    <div class="progress-yellow">
                      <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="progress-wrapper">
                    <div class="progress-red">
                      <div class="c-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <!-- ARTISTS -->
  <div class="col-md-4">
    <div class="c-panel bg-c-dark">
      <div class="c-flag c-flag-inner mb-4"><b>DIRTYBIRD</b> ARTISTS</div>
      <%= link_to "SEE ALL", artists_path, class: "btn c-btn-blue float-right" %>

      <ol class="users-block dark-scroll list-unstyled mt-1">
        <% @artists.each do |artist| %>
          <li>
            <%= link_to artist_path(artist), class: "d-inline-block align-middle" do %>
              <%= image_tag artist.avatar.thumb, class: "user-avatar" %>
            <% end %>
            <div>
              <h5>
                <%= link_to artist.name, artist_path(artist) %>
                <%= image_tag 'icons/point-green.svg', class: "point-green" if artist %>
              </h5>
              <div>
                <%= artist.try(:artist_info).try(:tracks_count) || 0 %>
                <%= "Track".pluralize(artist.try(:artist_info).try(:tracks_count)) %>
                /
                <%= artist.try(:artist_info).try(:followers_count) || 0 %>
                <%= "Follower".pluralize(artist.try(:artist_info).try(:followers_count)) %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
