<div class="release-flag-block ">
  <div class="c-flag">LATEST RELEASES</div>
  <%= link_to "SEE ALL", releases_path, class: "btn c-btn-blue" %>
</div>

<div class="h-carousel mb-4">
  <% @releases.each do |release| %>
    <div class="item with-tongue">
      <div>
        <div class="item-body">
          <div class="item-panel">
            <h3><%= link_to release.title.upcase, release_path(release) %></h3>
            <p><%= link_to release.text.html_safe.truncate(350), release_path(release) %></p>
          </div>
          <div class="item-footer">
            <a href="#" class="c-link">
              <%= release.tracks.count %>
                <%= "Track".pluralize(release.tracks.count) %>
              </a>
            <button class="btn c-btn-white c-btn-sm">LISTEN</button>
            <a href="#" class="c-link">Share</a>
          </div>
        </div>
        <%= image_tag release.avatar.url if release.avatar.present? %>
        <%= image_tag release.avatar.url, class: "item-blured-img" if release.avatar.present? %>
      </div>
      <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
    </div>
  <% end %>
</div>

<div class="row mb-2">
  <!-- FANS LEADERBOARD -->
  <div class="col-md-8">
    <div class="c-panel bg-white">
      <div class="c-flag mb-4">FANS LEADERBOARD</div>
      <%= link_to "SEE ALL", releases_path, class: "btn c-btn-blue float-right" %>

      <ol class="fans-block light-scroll mt-1">
        <% @leader_users.each do |leader| %>
          <li style="margin-bottom: 20px;">
            <%= link_to user_path(leader), class: "d-inline-block align-middle" do %>
              <%= image_tag leader.avatar.thumb, class: "user-avatar" %>
            <% end %>

            <div style="display: inline-block; width: 80%; margin-left: 20px; margin-bottom: 20px; vertical-align: bottom;">
            <%= leader.name.upcase %>
            <%= image_tag 'icons/point-green.svg', class: "point-green" if leader %>

            <div>
              <div style="display: inline-block; vertical-align: top; margin: 3px 20px 0 0; width: 64%">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div style="display: inline-block; margin-top: 5px;">
                <% if leader.badges.present? %>
                  <b><%= "#{leader.badges.order(points: :desc).count}" %></b>
                  <b><%= "#{leader.badges.order(points: :desc).last.name}" %></b> 
                  Badged Granted
                <% else %>
                  No Badges
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <!-- ARTISTS -->
  <div class="col-md-4">
    <div class="c-panel bg-c-dark">
      <div class="c-flag c-flag-inner mb-4"><b>DIRTYBIRD</b> ARTISTS</div>
      <%= link_to "SEE ALL", releases_path, class: "btn c-btn-blue float-right" %>

      <ol class="artists-block dark-scroll list-unstyled mt-1">
        <% @artists.each do |artist| %>
          <li>
            <%= link_to artist_path(artist), class: "d-inline-block align-middle" do %>
              <%= image_tag artist.avatar.thumb, class: "user-avatar" %>
            <% end %>
            <div>
              <h5>
                <%= link_to artist.name, artist_path(artist) %>
                <%= image_tag 'icons/point-green.svg', class: "point-green" if artist %>
              </h5>
              <div>
                <%= artist.tracks.count %> Tracks /
                <%= artist.followers.count %> Followers
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
