<div class="feed-item">
  <%= link_to image_tag(activity['actor'].avatar.thumb.url, class: "post-user-avatar"), activity['actor'], class: "post-owner" %>

  <div id="message-<%= activity['foreign_id'].id %>"></div>

  <p class="feed-posted">Posted <%= time_ago_in_words(activity['time'].in_time_zone) %> ago</p>

  <div class="feed-item-body">
    <div class="feed-name">
      <%= link_to activity['foreign_id'].user.name.split.map(&:capitalize).join(' '), activity['foreign_id'].user %>&nbsp;
    </div>
    <%= comment_with_meta_data(activity['foreign_id'].body).html_safe %>

    <div class="comment-footer">
      <span>
        <%= render partial: 'likes/like_button', locals: { object: activity['foreign_id'],  style: 'thumbup' } %>
      </span>

      <div class="comment-footer-divider"></div>

      <span>
        <%= image_tag('icons/icon-comment.svg', title: 'Comments', class: "align-top") %>
        Comment 
        (<span class="comments-count"><%= activity['foreign_id'].try(:replies_count) %></span>)
      </span>
    </div>
  </div>

  <div id="Comment-<%= activity['foreign_id'].id %>" class="<%= 'feed-replies' unless (!current_user && activity['foreign_id'].replies.empty?) %>">

    <div class="feed-replies-list">
      <% if activity['foreign_id'].replies.any? %>
      
        <% if activity['foreign_id'].replies_count.to_i > 3 %>
          <a href="#" class="show-more-comments">View more comments (<%= activity['foreign_id'].replies_count - 3 %>)</a>
        <% end %>
        
        <%= render activity['foreign_id'].replies.order(created_at: :asc) %>
      <% end %>
    </div>

    <% if current_user %>
      <%= link_to "Reply", 
        comment_reply_form_path( 
          comment_id: activity['foreign_id'].id, 
          commentable_id: activity['foreign_id'].commentable_id,
          commentable_type: activity['foreign_id'].commentable_type ), 
        remote: true, class: "btn c-btn-white btn-wide", id: "comment-reply-#{activity['foreign_id'].id}" %>
    <% end %>
  </div>

  <hr class="feed-divider">

</div>