<%#= link_to image_tag(activity['actor'].avatar.thumb.url, class: "post-user-avatar"), activity['actor'], class: "post-owner" %>
<p class="feed-posted"> 
  <%= time_ago_in_words(activity['time'].in_time_zone) %> ago.
</p>

<%= link_to activity['actor'] do %>
  <%= image_tag activity['actor'].avatar.url, class: "feed-avatar" %>
  <%= activity['actor'].name %>
<% end %>

<em>liked</em>

<% if activity['object'].class == Release || activity['object'].class == Track %>
  <em>release</em>
  <%= link_to activity['object'].try(:title).try(:truncate, 25), activity['object'] %>
<% end %>

<% if activity['object'].class == Post %>
  <em>post</em>
  <%= activity['object'].text.truncate(20) %>
  <em>on</em>
  <%= link_to activity['object'].topic.try(:title).try(:truncate, 25), activity['object'].topic %>
<% end %>

<% if activity['object'].class == Comment && activity['object'].commentable.class == User %>
  <%= link_to activity['object'].user do %>
    <%= activity['object'].user.name + '\'s' %>
  <% end %>
  <em>comment</em>
  <%= activity['object'].body.truncate(20) %>
<% end %>

<% if activity['object'].class == Comment && activity['object'].commentable.class != User %>
  <% if activity['object'].user == activity['actor'] %>
    <em>his</em>
  <% else %>
    <%= link_to activity['object'].user do %>
      <%= activity['object'].user.name + '\'s' %>
    <% end %>
    <%#= link_to activity['object'].user.name + '\'s', activity['object'].user %>
  <% end %>

  <em>comment</em>
  <%= activity['object'].body.truncate(20) %>
  <em>in</em>
  <%= link_to activity['object'].commentable.try(:title), activity['object'].commentable %>
<% end %>

<hr class="feed-divider">