<%= render 'user_profile_settings/header' %>

<div class="user-profile-settings">
  <div class="row">
    <div class="side-bar col-lg-3">
      <%= render 'users/user_profile_nav' %>
    </div>
    <div class="main-content col-lg-9">
      <div class="row page-header">
        <div class="col-sm-6">
          <label class="title">
            EGG CREDITS
          </label>
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'EGG CREDITS', usr_egg_credits_path, class: 'header-btn egg-credits-link-btn' %>
          <%= link_to 'REWARDS', usr_rewards_path, class: 'header-btn rewards-link-btn' %>
        </div>
      </div>
      <div class="row page-content egg-credits-content">
      	<div class="col-sm-3">
      		<div class="row">
            <div class="col-sm-12">
              <div class="eggs-status">
                <div class="current-eggs-status">
                  YOU HAVE <span class="number-of-eggs"> 9 </span> EGGS AVAILABLE
                </div>
                <div class="future-eggs-status">
                  <b>Your next 10 egg drop is on:</b> 9/15 2018
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="grab-more-eggs-btn">
                GRAB MORE EGGS
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="birdfeed-shop-btn">
                <%= image_tag "closed_btn.png", class: 'closed-btn' %>
                BIRDFEED SHOP
                <%= image_tag "question_mark.png", class: 'question-mark' %>
              </button>
            </div>
          </div>
      	</div>
        <div class="col-sm-9">
          <div class="eggs-collection-wrapper">
            <div class="row">
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "3-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>
              <div class="col-sm-4">
                <%= image_tag "5-eggs.png", class: 'closed-btn' %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>