<% for _activity in activity['activities'] %>

  <div class="nav-notify <%= 'notify-seen' if activity['is_seen'] == false %>">
    <% if _activity['actor'].try(:id) %>
      <%= link_to _activity['actor'] do %>
        <%= image_tag _activity['actor'].avatar.thumb.url, class: "feed-avatar" %>
      <% end %>
    <% else %>
      Unregistered user
    <% end %>

    <%= link_to admin_reports_path do %>
      <%= _activity['actor'].name %>
      has reported the
      <%= _activity['object'].class.to_s %>
    <% end %>
    <br>
  </div>

  <hr style="margin: 2px 0 0;">

<% end %>