<% for _activity in activity['activities'] %>
  <div class="feed-item">
    <p class="feed-posted"> 
      <%= time_ago_in_words(activity['updated_at'].in_time_zone) %> ago
    </p>

    <div class="t-wide">
      <%= link_to _activity['actor'] do %>
        <%= image_tag _activity['actor'].avatar.thumb.url, class: "feed-avatar" %>
        <strong><%= _activity['actor'].name %>:</strong>
      <% end %>

      <% if _activity['foreign_id'].class.to_s == "Topic" %>

        Posted a Chirp new topic in 

        <strong>
          <%= link_to _activity['object'].category.title, _activity['object'] %>
        </strong>
        &nbsp;

        <p style="margin-top: 10px">
          <strong>
            <%= _activity['object'].title %>
          </strong>

          <br>

          <%= _activity['object'].text %>
          
        </p>

      <% else %>

        <span class="t-wide">is now following</span>

        <% for _activity in activity['activities'] %>
          <strong>
            <%= link_to _activity['object'].title.truncate(30)+"'s", _activity['object'] %>
          </strong>
          &nbsp;
        <% end %>

        feed

      <% end %>
    </div>
      
    <hr class="feed-divider">
  </div>
<% end %>