<div id="topic-post-<%= post.id %>">
  <%= image_tag post.user.avatar.thumb.url %>
  <%= post.text %>
  <%= post.created_at.strftime("%Y-%m-%d") %>
  <%= render 'likes/like_button', object: post %>
  <%= link_to "Reply", 
    post_reply_form_path( post_id: post.id, topic_id: @topic.id ), 
    remote: true %>
  <hr>
</div>

<div class="nested-messages">
  <%= render post.replies if post.replies.any? %>
</div>