<div class="feed-item">
  <%= link_to image_tag(post.user.avatar.thumb.url, class: "post-user-avatar"), post.user, class: "post-owner" %>
  <div id="message-<%= post.id %>"></div>
  <p class="feed-posted">Posted <%= time_ago_in_words(post.created_at) %> ago</p>

  <div class="feed-item-body">
    <div id="feed-post-<%= post.id %>">
      <p class="mb-1">
        <b>
          <%= link_to post.user.name.split.map(&:capitalize).join(' '), post.user %>&nbsp;
        </b>
      </p>
      <p class="post-text">
        <%= post.text %>
          
        <% if current_user.id == post.user_id %>
          <%= link_to edit_post_path(post), remote: true do %>
            <%= image_tag('icons/pencil.svg', class: "btn-post-edit") %>
          <% end %>

          <%= link_to post, method: :delete, remote: true, 
            data: { confirm: "Are you sure you want to delete your post?" } do %>
            <%= image_tag('icons/trash.svg', class: "btn-post-edit") %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div>
      <% post.feed_images.each do |image| %>
        <a href="<%= image.image.url %>" data-lightbox="image-<%=image.id%>">
          <%= image_tag image.image, class: "feed-image mb-2" %>
        </a>
      <% end %>
    </div>

    <div class="comment-footer">
      <span>
        <%= render partial: 'likes/like_button', locals: { object: post,  style: 'thumbup' } %>
      </span>

      <div class="comment-footer-divider"></div>

      <span class="scroll-bottom">
        <%= image_tag('icons/icon-comment.svg', title: 'Comments', class: "align-top") %>
        Comment (<span class="comments-count"><%= post.replies_count || 0 %></span>)
      </span>
    </div>
  </div>


  <div class="<%= 'feed-replies' unless (!current_user && post.replies.empty?) %>">
    <% if post.replies_count.to_i > 3 %>
      <a href="#" class="show-more-comments">View more comments (<%= post.replies_count - 3 %>)</a>
    <% end %>

    <div class="feed-replies-list">
      <%= (render partial: 'posts/reply', collection: post.replies.order(created_at: :asc)) if post.replies.any? %>
    </div>
    
    <% if current_user %>
      <%= link_to "Reply", 
          post_reply_form_path( post_id: post.id, topic_id: @topic.id ), 
          remote: true, class: "btn c-btn-white btn-wide", id: "topic-post-#{post.id}" %>
    <% end %>
  </div>

  <hr class="feed-divider">
</div>