<% if reply.parent && reply.user == reply.parent.user && reply.parent.parent_id.blank? %>
  
  <div class="text-right" id="message-<%= reply.id %>">
    <%= render partial: 'likes/like_button', locals: { object: reply,  style: 'thumbup-reply' } %>

    <%= link_to post_reply_form_path( post_id: reply.id, topic_id: @topic.id ), 
        remote: true, id: "topic-post-#{reply.id}" do %>
      <%= image_tag 'icons/reply.svg', style: "width: 17px; height: 17px; margin-left: 10px;" %>
      <span class="comments-count"><%= reply.replies_count %></span>
    <% end %>

    <p id="feed-post-<%= reply.id %>" class="feed-reply feed-owner">
      <% if current_user && current_user.id == reply.user_id %>
        <%= link_to edit_post_path(reply), remote: true do %>
          <%= image_tag('icons/pencil.svg', class: "btn-post-edit") %>
        <% end %>

        <%= link_to reply, method: :delete, remote: true, 
              data: { confirm: "Are you sure you want to delete your post?" } do %>
          <%= image_tag('icons/trash.svg', class: "btn-post-edit") %>
        <% end %>
      <% end %>

      <%= comment_with_meta_data(reply.text).html_safe %>

      &nbsp;
      <% if reply.edited_at.present? %>
        <i>edited</i>
      <% end %>
    </p>

    <%= image_tag(reply.user.avatar.thumb, class: "post-user-avatar") %>

    <div>
      <% reply.feed_images.each do |image| %>
        <a href="<%= image.image.url %>" data-lightbox="image-<%=image.id%>">
          <%= image_tag image.image, class: "feed-image mb-2" %>
        </a>
      <% end %>
    </div>

    <% if reply.replies.present? %>
      <%= render partial: 'posts/reply', collection: reply.replies.order(created_at: :asc) %>
    <% end %>

  </div>

<% else %>

  <div class="nested-messages" id="message-<%= reply.id %>">
    <%= link_to image_tag(reply.user.avatar.thumb, class: "post-user-avatar"), reply.user %>
    
    <p id="feed-post-<%= reply.id %>" class="feed-reply">
      <%= reply.text.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %>
      &nbsp;
      <% if reply.edited_at.present? %>
        <i>edited</i>
      <% end %>
        
      <% if current_user && current_user.id == reply.user_id %>
        <%= link_to edit_post_path(reply), remote: true do %>
          <%= image_tag('icons/pencil.svg', class: "btn-post-edit") %>
        <% end %>

        <%= link_to reply, method: :delete, remote: true, 
            data: { confirm: "Are you sure you want to delete your post?" } do %>
          <%= image_tag('icons/trash.svg', class: "btn-post-edit") %>
        <% end %>
      <% end %>
    </p>


    <%= render partial: 'likes/like_button', locals: { object: reply,  style: 'thumbup-reply' } %>

    <%= link_to post_reply_form_path( post_id: reply.id, topic_id: @topic.id ), 
        remote: true, id: "topic-post-#{reply.id}" do %>
      <%= image_tag 'icons/reply.svg', style: "width: 17px; height: 17px; margin-left: 10px;" %>
      <span class="comments-count"><%= reply.replies_count %></span>
    <% end %>

    <div>
      <% reply.feed_images.each do |image| %>
        <a href="<%= image.image.url %>" data-lightbox="image-<%=image.id%>">
          <%= image_tag image.image, class: "feed-image mb-2" %>
        </a>
      <% end %>
    </div>

    <% if reply.replies.present? %>
      <%= render partial: 'posts/reply', collection: reply.replies.order(created_at: :asc) %>
    <% end %>
  </div>

<% end %>