<div class="item-with-tongue">
  <div>
    <div class="item-body">
      <div class="item-panel">
        <h3><%= link_to release.title.upcase, release %></h3>
        <p>By <%= release.artists(1) %></p>
        <%= link_to '', "#",
                    data: { 
                      source_type: 'release', 
                      source_id: release.id,
                      virtual: true
                    }, 
                    class: "play-release-#{release.id} playlist-play-playlist" %>
        
        <p class="item-tracks">
          <%= pluralize(release.tracks.count, "track") %>
        </p>

        <%= rating_for release, 'main', 
            star: 4, 
            cancel: false,
            readonly: true,
            star_on: image_path('rate/egg/star-on.png'), 
            star_half: image_path('rate/egg/star-on.png'), 
            star_off: image_path('rate/egg/star-off.png')
          %>

        <% if release.download_uris.any? %>
          <button class="release-icon" type="button" data-toggle="collapse" data-target=".release-<%= release.id %>-download" aria-expanded="false" aria-controls="collapseExample">
            <%= image_tag('icons/icon-download.svg', title: "Download full release") %>
          </button>

          <div class="collapse collapse-formats release-<%= release.id %>-download">
            <% release.download_uris.each do |format, uri| %>
              <a href="<%= uri %>" class="btn btn-danger"><%= format %></a>
            <% end %>
          </div>
        <% end %>

        <%= render partial: 'layouts/share', locals: { object: release, icon: 'white' } %>
      </div>
      <div class="item-footer">
        <%= link_to "Details", release, class: "c-link" %>
        
        <%#= link_to "LISTEN", "#", 
            class: "play-release-#{release.id} btn c-btn-white c-btn-sm", 
            data: { source_type: 'release', source_id: release.id, virtual: true },
            remote: true %>
      </div>
    </div>
    <%= image_tag release.avatar.url %>
    <%= image_tag release.avatar.url, class: "item-darken-img"%>
  </div>
  <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
</div>
