<div class="item-with-tongue">
  <div>
    <div class="item-body">
      <div class="item-panel">
        <h3><%= link_to release.title.upcase, release_path(release) %></h3>
        <p><%= link_to strip_tags(release.text).gsub('&amp;','&').truncate(350), release_path(release) %></p>
      </div>
      <div class="item-footer">
        <%= link_to release, class: "c-link" do %>
          <%= release.tracks.count %>
          <%= "Track".pluralize(release.tracks.count) %>
        <% end %>
        
        <%= link_to "LISTEN", "#", 
            class: "play-release-#{release.id} btn c-btn-white c-btn-sm", 
            data: { source_type: 'release', source_id: release.id, virtual: true },
            remote: true %>

        <div class="jp-controls release-jp-controls" style="display: none;">
          <button class="jp-previous" role="button" tabindex="0"></button>

          <%= link_to "", "#", 
              class: "play-release-#{release.id} jp-play",
              data: { 
                source_type: 'release', 
                source_id: release.id, 
                virtual: true
              },
              remote: true %>

          <button class="jp-next" role="button" tabindex="2"></button>
        </div>

        <a href="#" class="c-link share-link" data-toggle="collapse" data-target="#release<%= release.id %>-share" aria-expanded="false" aria-controls="collapseExample">
          Share
        </a>

        <div id="release<%= release.id %>-share" class="collapse share-panel" style="bottom: 36px;">
          <h5 class="mx-3 my-2">Share</h5>
          <div class="mx-3 mb-3" data-object-type="release" data-object-id="<%= release.id %>">
            <%= social_share_button_tag(strip_tags(release.title).gsub("\'",''), desc: strip_tags(release.text).gsub("\'",''), image: release.avatar.url) %>
          </div>
        </div>

      </div>
    </div>
    <%= image_tag release.avatar.url%>
    <%= image_tag release.avatar.url, class: "item-blured-img"%>
  </div>
  <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
</div>
