<div class="mt-4 mb-2">
  <div class="c-flag">RELEASES</div>
<!-- </div> -->

<!-- <div class="release-flag-block"> -->
  <div class="releases-tabs">
    <%= link_to "All", releases_path %>

    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Artist
      </a>
      <div class="dropdown-menu">
        <ul>
          <% @artists.each do |user| %>
            <li class="filter-user">
              <%= link_to releases_path( filters: { artist: user.id } ) do %>
                <%= image_tag(user.avatar.thumb, class: "user-avatar") if user.avatar.present? %>
                <div><%= user.name %></div>
                <div><%= pluralize(user.artist_info.tracks_count, 'track') if user.artist_info %></div>
              <% end %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Year
      </a>
      <div class="dropdown-menu">
        <ul>
          <% (2011..Time.current.year).reverse_each do |year| %>
            <li>
              <%= link_to year, releases_path( filters: { year: year } ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= link_to "Last 3 months", releases_path( filters: { three_months: true } ) %>

    <% if current_user %>
      <%= link_to "Liked tracks", releases_path( filters: { liked: true } ) %>
    <% end%>
  </div>

    <%#= select_tag "filters[artist]", 
        options_from_collection_for_select(@artists, "id", "name"),
        include_blank: true %>
</div>

<div class="row mt-4 releases-list">
  <%= render @releases %>
</div>

<div class="text-center">
  <% if @limit <= @releases.count %>
    <% if params[:filters].present? %>
      <% _params = { filters: params[:filters].permit! }.merge(page: params[:page] ? params[:page].to_i + 1 : 2) %>
    <% else %>
      <% _params = {page: params[:page] ? params[:page].to_i + 1 : 2} %>
    <% end %>
    <%= link_to "Show more", load_more_releases_path(_params), 
        remote: true, class: "btn c-btn-blue show-more" %>
  <% end %>
</div>
