<div class="mt-4 mb-2">
  <div class="c-flag">RELEASES</div>
<!-- </div> -->

<!-- <div class="release-flag-block"> -->
  <div class="releases-tabs">
    <%= link_to "All", releases_path %>

    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Artist
      </a>
      <div class="dropdown-menu">
        <ul>
          <% @artists.each do |user| %>
            <li class="filter-user">
              <%= link_to releases_path( filters: { artist: user.id } ), class: "" do %>
                <%= image_tag(user.avatar.thumb, class: "user-avatar") if user.avatar.present? %>
                <div><%= user.name %></div>
                <div><%= pluralize(user.artist_info.tracks_count, 'track') if user.artist_info %></div>
              <% end %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        By Year
      </a>
      <div class="dropdown-menu">
        <ul>
          <% (2011..Time.current.year).reverse_each do |year| %>
            <li>
              <%= link_to year, releases_path( filters: { year: year } ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= link_to "Last 3 months", releases_path( filters: { three_months: true } ) %>
  </div>

    <%#= select_tag "filters[artist]", 
        options_from_collection_for_select(@artists, "id", "name"),
        include_blank: true %>
</div>

<div class="row mt-4">
  <% @releases.each do |release| %>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-5 item-with-tongue">
      <div>
        <div class="item-body">
          <div class="item-panel">
            <h3><%= link_to release.title.upcase, release_path(release) %></h3>
            <p><%= link_to strip_tags(release.text).truncate(350), release_path(release) %></p>
          </div>
          <div class="item-footer">
            <%= link_to release, class: "c-link" do %>
              <%= release.tracks.count %>
              <%= "Track".pluralize(release.tracks.count) %>
            <% end %>
            
            <%= link_to "LISTEN", get_release_tracks_path(release.id), 
                id: "play-release-#{release.id}",
                class: "btn c-btn-white c-btn-sm", remote: true %>

            <div class="jp-controls release-jp-controls" style="display: none;">
              <button class="jp-previous" role="button" tabindex="0"></button>
              <button class="jp-play jp-play-release" role="button" tabindex="1"></button>
              <button class="jp-next" role="button" tabindex="2"></button>
            </div>

            <a href="#" title="Share" tabindex="0" data-toggle="popover" data-placement="left" data-content="<%= (social_share_button_tag(release.title, desc: release.text)).gsub('\"','\'') %>" data-trigger="focus" data-html="true" onclick="return false;" class="c-link">
              Share
            </a>
          </div>
        </div>
        <% if release.avatar.present?
             image = release.avatar.url
           elsif release.image_uri.present?
             image = release.image_uri
           else
             image = nil
           end %>
        <%= image_tag image if image %>
        <%= image_tag image, class: "item-blured-img" if image %>
      </div>
      <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
    </div>
  <% end %>
</div>
