<div class="mt-4 mb-2">
  <div class="c-flag">RELEASES</div>
</div>

<div class="release-flag-block">
  filter by
  <% p = params[:filters].present? ? params[:filters] : {} %>

  <%= form_tag releases_path, method: :get, class: "d-flex" do %>
    <%= check_box_tag "filters[never_released]", 'true', p[:never_released] %>
    <%= label_tag "filters[never_released]", "never_released" %>
    <br>
    <%= check_box_tag "filters[month]", 'true', p[:month] %>
    <%= label_tag "filters[month]", "last month" %>
    <br>
    <%= check_box_tag "filters[year]", 'true', p[:year] %>
    <%= label_tag "filters[year]", "last year" %>
    <br>
    <%= select_tag "filters[artist]", 
        options_from_collection_for_select(@artists, "id", "name"),
        include_blank: true %>
    <%= submit_tag "filter" %>
  <% end %>
</div>

<div class="row mt-4">
  <% @releases.each do |release| %>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-5 item-with-tongue">
      <div>
        <div class="item-body">
          <div class="item-panel">
            <h3><%= link_to release.title.upcase, release_path(release) %></h3>
            <p><%= link_to release.text.html_safe.truncate(350), release_path(release) %></p>
          </div>
          <div class="item-footer">
            <%= link_to release, class: "c-link" do %>
              <%= release.tracks.count %>
              <%= "Track".pluralize(release.tracks.count) %>
            <% end %>
            <%= link_to "LISTEN", get_release_tracks_path(release.id), 
                id: "play-release-#{release.id}",
                class: "btn c-btn-white c-btn-sm", remote: true %>


            <div class="jp-controls release-jp-controls">
              <button class="jp-previous release-jp-previous" role="button" tabindex="0"></button>
              <button class="jp-play release-jp-play" role="button" tabindex="1"></button>
              <button class="jp-next release-jp-next" role="button" tabindex="2"></button>
            </div>


            <!-- <button class="btn c-btn-white c-btn-sm">LISTEN</button> -->

            <a href="#" title="Share" tabindex="0" data-toggle="popover" data-placement="left" data-content="<%= (social_share_button_tag(release.title, desc: release.text)).gsub('\"','\'') %>" data-trigger="focus" data-html="true" onclick="return false;" class="c-link">
              Share
            </a>
          </div>
        </div>
        <%= image_tag release.avatar.url if release.avatar.present? %>
        <%= image_tag release.avatar.url, class: "item-blured-img" if release.avatar.present? %>
      </div>
      <mark class="t-small"><%= time_ago_in_words( release.release_date ).upcase %> AGO</mark>
    </div>
  <% end %>
</div>
