<div class="release-present">
  <% if @release.image_uri.present?
       image = @release.image_uri
     else
       image = @release.avatar.url
     end %>

  <%= image_tag(image, class: "release-avatar left-avatar") %>
  
  <div class="release-bgrd">
    <%#= image_tag 'dj.jpg' %>

    <div class="release-header">
      <div class="release-exclusive">
        <%= image_tag 'icons/user-logo-icon.svg' %>
        <div>ONLY ON<br>
        BIRDFEED</div>
      </div>

      <div class="release-likes">
        <%= render partial: 'likes/like_button', locals: { object: @release,  style: 'release' } %>
      </div>

      <div class="release-rate">
        RATE
        <% unless (current_user && current_user.has_role?(:artist)) %>
          <%= rating_for @release, 'main', star: 3, cancel: true, 
                disable_after_rate: false, star_path: '/images/rate/yellow'
          %>
        <% end %>
        <%= @release.average('main').try(:avg).try(:round,1) %>
      </div>

      <button class="release-icon" type="button" data-toggle="collapse" data-target="#release-share" aria-expanded="false" aria-controls="collapseExample">
        <%= image_tag('icons/icon-share.svg', title: "Share") %>
      </button>

      <div id="release-share" class="collapse share-panel">
        <h5 class="mx-3 my-2">Share</h5>
        <div class="mx-3 mb-3" data-object-type="release" data-object-id="<%= @release.id %>">
          <%= social_share_button_tag(strip_tags(@release.title).gsub("\'",''), desc: strip_tags(@release.text).gsub("\'",''), image: image) %>
        </div>
      </div>

      <% if @release.download_uris.any? %>
        <button class="release-icon" type="button" data-toggle="collapse" data-target="#release-download" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag('icons/icon-download.svg', title: "Download full release") %>
        </button>

        <div id="release-download" class="collapse collapse-formats">
          <% @release.download_uris.each do |format, uri| %>
            <a href="<%= uri %>" class="btn btn-danger"><%= format %></a>
          <% end %>
        </div>
      <% end %>

      <%= link_to get_release_tracks_path(@release.id), 
          class: "release-icon", remote: true do %>
        <%= image_tag('icons/icon-play.svg', title: "Play release") %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="release-info mb-4">
      <h1><%= @release.title.upcase %></h1>
      <p class="release-date">Release date: <%= time_ago_in_words( @release.release_date ) %> ago</p>

      <div class="truncated-description">
        <% if @release.text.present? %>
          <article><%= strip_tags(@release.text).truncate(400) %></article>

          <% if @release.text.html_safe.truncate(400) != @release.text.html_safe %>
            <a href="#" class="truncated-long">Read more</a>
          <% end %>

          <article><%= @release.text.html_safe %></article>
          <a href="#" class="truncated-short"><br><br>Read less</a>
        <% end %>
      </div>

      
      <%#= link_to "Q&A", chirp_path, class: "btn c-btn-transparent btn-wide" %>
    </div>

    <div class="c-panel bg-white big-c-buttons">
      <div class="c-flag mb-4"><b>RELEASE</b> FEED</div>
      
      <button class="btn c-btn-blue mt-1 btn-wide" type="button" data-toggle="modal" data-target="#addcommentModal">
        POST A COMMENT
      </button>

      <%= render partial: 'follows/follow_button', 
          locals: { object: @release, 
                    opt: { 
                        classes: "btn btn-wide follow-button-black",
                        text: ['follow this feed', 'unfollow this feed'] } } %>

      <div class="feed-block">
        <%= render 'feeds/commentable_feed' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="sticky-top">

      <!-- ARTISTS -->
      <div class="c-panel bg-dark mb-4">
        <div class="c-flag c-flag-inner mb-2">ARTISTS</div>

        <ol class="users-block list-unstyled mt-1">
          <% if @release.artist_as_string && @release.artist.present? %>
            <p><%= @release.artist %></p>
          <% elsif @release.users.any? %>
            <% @release.users.each do |artist| %>
              <li>
                <%= link_to artist_path(artist), class: "d-inline-block align-middle" do %>
                  <%= image_tag artist.avatar.thumb, class: "user-avatar" %>
                <% end %>

                <div class="user-subtitle">
                  <h5>
                    <%= link_to artist.name, artist_path(artist) %>
                    <%= image_tag 'icons/point-green.svg', class: "point-green" if artist.online? %>
                  </h5>
                  <div>
                    <%= link_to "All tracks", artist %>
                    /
                    <b><%= link_to "Artist Q & A", chirp_index_path %></b>
                  </div>
                </div>

                <%= render partial: 'follows/follow_button', 
                    locals: { object: artist, 
                              opt: { 
                                  classes: "btn c-btn-blue",
                                  text: ['follow', 'following'] } } %>
              </li>
            <% end %>
          <% elsif @release.artist.present? %>
            <p><%= @release.artist %></p>
          <% elsif @release.tracks.any? %>
            <p><%= @release.tracks.pluck(:artist).try(:uniq).try(:join,', ') %></p>
          <% end %>
        </ol>
      </div>

      <!-- TRACKS -->
      <% if @release.tracks.any? %>
        <div class="c-panel bg-white">
          <div class="c-flag c-flag-inner mb-2"><b>TRACKS</b> ON THIS RELEASE</div>

          <ol class="list-unstyled mt-1">
            <% @release.tracks.each do |track| %>
              <li class="track-item">
                <h3>
                  <%= track.track_number %>.
                  <%= track.title.truncate(70).upcase %>
                  <%= render 'likes/like_button', object: track %>
                </h3>

                By
                <% if track.artist_as_string && track.artist.present? %>
                  <%= track.artist %>
                <% elsif track.users.any? %>
                  <%# artists = track.users.map(&:name).join(' feat. ') %>
                  <% track.users.each do |u| %>
                    <%= link_to u.name, u %>
                  <% end %>
                <% elsif track.artist.present? %>
                  <%= track.artist %>
                <% else %>
                  Various Artists
                <% end %>

                <div class="jp-controls">
                  <div class="jp-current-time-track" role="timer" aria-label="time">0:00</div>
                  <button class="jp-previous" role="button" tabindex="0"></button>
                  <button class="jp-play jp-play-track" data-track="<%= track.id %>" role="button" tabindex="1"></button>
                  <button class="jp-next" role="button" tabindex="2"></button>
                  <div class="jp-duration-track" role="timer" aria-label="duration"></div><%# TODO get from database %>
                  <% unless current_user && current_user.has_role?(:artist) %>
                    <%= rating_for track, 'main', star: 3, cancel: true, 
                        disable_after_rate: false, star_path: '/images/rate/white' %>
                    &nbsp;
                  <% end %>
                  <%= track.average('main').try(:avg).try(:round,1) %>
                </div>

                <% if @release.user_allowed? %>
                  <button class="icon-download" type="button" data-toggle="collapse" data-target="#download-<%= track.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <%= image_tag('icons/icon-download.svg') %>
                  </button>
                <% end %>
                <div id="download-<%= track.id %>" class="collapse collapse-track-formats">
                    <% track.download_uris.each do |format, uri| %>
                      <a href="<%= uri %>" class="btn btn-danger"><%= format %></a>
                    <% end %>
                </div>




                <button class="icon-share" type="button" data-toggle="collapse" data-target="#track<%= track.id %>-share" aria-expanded="false" aria-controls="collapseExample">
                  <%= image_tag('icons/icon-share.svg', title: "Share") %>
                </button>

                <div id="track<%= track.id %>-share" class="collapse share-panel" style="top: -11px;">
                  <h5 class="mx-3 my-2">Share</h5>
                  <div class="mx-3 mb-3" data-object-type="release" data-object-id="<%= @release.id %>" data-object-subtype="track" data-object-subid="<%= track.id %>">
                    <%= social_share_button_tag(strip_tags(@release.title).gsub("\'",''), desc: strip_tags(@release.text).gsub("\'",''), image: image) %>
                  </div>
                </div>
        
              </li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user %>
  <% content_for :body_area do %>
    <div class="modal modal-blured" id="addcommentModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body w-100">
            <h5 class="modal-title">Add your comment</h5>

            <%= form_for current_user.comments.build, 
                html: { class: "feed-form w-75" }, remote: true do |f| %>
              <%= f.hidden_field :commentable_type, value: "Release" %>
              <%= f.hidden_field :commentable_id, value: @release.id %>
              <%= f.label :body, class: "sr-only" %>
              <%= f.text_area :body, rows: 10, placeholder: "Type text", 
                  max: 200, required: true, class: "emoji-area" %>
              <%= f.submit "ADD TO FEED", class: "btn c-btn-blue btn-wide mt-2" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
