<% unless source_type == 'release' %>
  <div class="playlist-header">
    <%= link_to "", "#",
                data: { 
                  source_type: source_type, 
                  source_id: source_id,
                  virtual: true
                }, 
                class: "play-#{source_type}-#{source_id} playlist-play-playlist",
                style: "width: 130px;",
                remote: true %>
    <div style="width: 160px;">
      <%= render 'tracks/covers', object: tracks %>
    </div>

    <% if @playlist.present? %>
      <div class="playlist-title">
        <button class="playlist-add-source" data-source-id="<%= @playlist.id %>" data-source-type='playlist'>+</button>
        <%= render partial: 'likes/like_button', locals: { object: @playlist } %>
        <br>
        <%= @playlist.name %>
      </div>

      <div class="playlist-owner">
        <%= link_to image_tag(@playlist.user.avatar.thumb, class: "user-avatar"), @playlist.user %>
        By <%= link_to @playlist.user.name, @playlist.user %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'playlists/playlist_items', 
    locals: { tracks: tracks, source_type: source_type, source_id: source_id } %>
