<% content_for :user_header_title, 'Playlists' %>

<% if @user.has_role? :artist %>
  <%= render 'users/artist_header' %>
<% else %>
  <%= render 'users/user_header' %>
<% end %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player/player_page_menu' %>
  </div>

  <div class="col-lg-9 music-wrapper">
    <div class="music-block">
      <% if @playlists.present? %>
        <%= render partial: 'playlists/list', locals: { playlists: @playlists } %>
      <% else %>
        <div class="mt-4 text-center">
          <%= image_tag 'icons/red-bird.svg', style: 'width: 100px;' %>
          <br>
          <h2>
            this artist has no playlists yet
          </h2>
        </div>
      <% end %>
    </div>

  </div>
</div>
