<%= render 'users/user_header_music' %>

<div class="row">
  <div class="col-lg-3">
    <div class="playlist-nav">
      <div class="playlist-nav-header">
        <div class="user-nav">
            <div class="c-btn-group">
              <%= link_to "Feed", @user, class: "btn btn-wide c-btn-blue" %><!--
           --><%= link_to "Music", playlist_path(@user), 
                  class: "btn btn-wide c-btn-black btn-disabled" %>
            </div>
        </div>

        <%#= image_tag 'player1.png' %>
      </div>

      <div class="playlist-nav-body">
        <ul>
          <li class="playlist-nav-subheader">Music&nbsp;</li>
          <li>
            <%= link_to "All", releases_path, id: "playlist-all-releases", remote: true %>
          </li>
          <li>
            <%= link_to "Birdfeed Exclusive", releases_path(filters: { release_type: 1 }), 
                id: "playlist-exclusive-releases", 
                remote: true %>
          </li>
          <li>
            <%= link_to "Dirtybird Select", releases_path(filters: { release_type: 2 }), 
                id: "playlist-select-releases", 
                remote: true %>
          </li>
          <li class="playlist-nav-subheader">Library&nbsp;</li>
          <li>Your Playlists</li>
          <li>
            <%= link_to "Favorited Releases", releases_path(filters: { liked: true }), 
                id: "playlist-liked-releases", 
                remote: true %>
          </li>
          <li>
            <%= link_to "Favorited Tracks", tracks_liked_path(user_id: current_user.id),
                id: "playlist-favorited-tracks", remote: true %>
          </li>
          <!-- <li>Recently Played</li> -->
          <li class="playlist-nav-subheader">Playlists&nbsp;</li>
          <% for playlist in @playlists %>
            <li>
              <%= link_to playlist.name, playlist_get_path(playlist),
                  id: "playlist-#{playlist.id}", remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="music-block"></div>
    <div class="playlist-player">
      <div class="release-details-btn"></div>
      <div class="row h-100">
        <div class="col-md-2 position-relative">
          <div class="pp-track"></div>
          <div class="pp-artist"></div>
          <!-- <div class="pp-volume"></div> -->
          <div class="pp-volume-block d-flex">
            <%= image_tag 'icons/volume1.png', class: "float-left mr-2" %>
            <div class="pp-volume">
              <div class="pp-volume-bar">
                <div class="pp-volume-bar-value volume-bar-value"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="d-flex justify-content-center align-items-center mt-2 mb-2">
            <div class="pp-previous"></div>
            <div class="pp-play"></div>
            <div class="pp-next"></div>
          </div>
          <div class="d-flex justify-content-center align-items-center" style="height: 24px;">
            <div class="pp-current-time"></div>
            <div class="pp-seek-bar">
              <div class="pp-play-bar"></div>
            </div>
            <div class="pp-time-left"></div>
          </div>
        </div> 
        <div class="col-md-2">
          <div class="pp-like"></div>
          <div class="pp-add"></div>
          <div class="pp-rate"></div>
          <div class="pp-download"></div>
          <div class="pp-share"></div>
        </div>
      </div>
    </div>
  </div>
</div>
