<%= render 'users/user_header_music' %>

<div class="row">
  <div class="col-lg-3">
    <div class="playlist-nav">
      <div class="playlist-nav-header">
        <div class="user-nav">
            <div class="c-btn-group">
              <%= link_to "Feed", @user, class: "btn btn-wide c-btn-blue" %><!--
           --><%= link_to "Music", playlist_path(@user), 
                  class: "btn btn-wide c-btn-black btn-disabled" %>
            </div>
        </div>

        <%#= image_tag 'player1.png' %>
      </div>

      <div class="playlist-nav-body">
        <ul>
          <!-- <li>All Releases</li> -->
          <!-- <li>Exclusive Only</li> -->
          <!-- <li class="playlist-nav-subheader">Playlists</li> -->
          <li class="playlist-nav-subheader">Music&nbsp;</li>
          <li>
            <%= link_to "All", releases_path, id: "playlist-all-releases", remote: true %>
          </li>
          <li>
            <%= link_to "Birdfeed Exclusive", releases_path(filters: { release_type: 1 }), 
                id: "playlist-exclusive-releases", 
                remote: true %>
          </li>
          <li>
            <%= link_to "Dirtybird Select", releases_path(filters: { release_type: 2 }), 
                id: "playlist-select-releases", 
                remote: true %>
          </li>
          <li class="playlist-nav-subheader">Library&nbsp;</li>
          <li>Your Playlists</li>
          <li>
            <%= link_to "Favorited Releases", releases_path(filters: { liked: true }), 
                id: "playlist-liked-releases", 
                remote: true %>
          </li>
          <li>
            <%= link_to "Favorited Tracks", tracks_liked_path(user_id: current_user.id),
                id: "playlist-favorited-tracks", remote: true %>
          </li>
          <!-- <li>Favorited Releases</li> -->
          <!-- <li>Recently Played</li> -->
          <li class="playlist-nav-subheader">Playlists&nbsp;</li>
          <% for playlist in @playlists %>
            <li>
              <%= link_to playlist.name, playlist_get_path(playlist),
                  id: "playlist-#{playlist.id}", remote: true %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="music-block"></div>
  </div>
</div>
