<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% @slider.each_with_index do |item, index| %>
      <div class="carousel-item <%= "active" if index == 0%>">
        <%= image_tag item.image.url%>
        <div class="container">
          <div class="carousel-caption">
            <%= item.text.html_safe if item.text %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="home-promo">
  <div class="promo-blocks">
    <%= link_to releases_path do %>
      <div class="promo-block red-arrow">
        <h3>listen</h3>
        <div class="promo-subheader">ALL DIRTYBIRD SOUNDS IN ONE PLACE</div>
      </div>
    <% end %>

    <%= link_to chirp_index_path do %>
      <div class="promo-block yellow-arrow">
        <h3>CONNECT</h3>
        <div class="promo-subheader">WHERE Ya DIRTYBIRd FAM  IS AT</div>
      </div>
    <% end %>

    <%= link_to leaderboard_path do %>
      <div class="promo-block red-arrow">
        <h3>PLAY</h3>
        <div class="promo-subheader">FOR STATUS REWARDS AND BADGES</div>
      </div>
    <% end %>
  </div>
  <div class="promo-footer">
    <%= link_to "Sign up", new_user_registration_path, class: "promo-link" %>
    <%= link_to "Learn more", "", class: "promo-link" %>
  </div>
</div>
