<footer>
  <div class="container">
    <%= image_tag 'icons/logo_bottom.png' %>
    <div class="row">
      <div class="col-sm-4">
        Copyrights &copy; 2018
        &middot;
        <%= link_to "Demo", demo_path %>
      </div>

      <div class="col-sm-4 d-sm-flex flex-sm-column text-sm-center">
        <%= link_to "About us", about_path %>
        <%= link_to "Terms & Conditions", "#" %>
      </div>

      <div class="col-sm-4 text-sm-right">
        <%= link_to "#" do %>
          <%= image_tag 'icons/fb.svg' %>
        <% end %>

        <%= link_to "#" do %>
          <%= image_tag 'icons/insta.svg' %>
        <% end %>
      </div>
    </div>
  </div>
</footer>