<header>
  <%= render 'layouts/player' %>
  
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'birdfeed-logo-white.png' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">
        THE <b>DIRTYBIRD</b> PLAYGROUND
      </span>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav nav-menu">
<!--           <% if current_user && current_user.has_role?(:admin) %>
            <li class="nav-item <%= 'active' if current_page?(birdfeed_path) %>">
              <%= link_to birdfeed_path, class: "nav-link" do %>
                Birdfeed
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(birdfeed_path) %>
              <% end %>
            </li>
          <% end %> -->

          <% if current_user %>
            <li class="nav-item <%= 'active' if current_page?(user_path(current_user)) || current_page?(artist_path(current_user)) || current_page?(admin_path(current_user)) %>">
              <a class="nav-link" href="/">
                Home
              </a>
            </li>

            <li class="nav-item <%= 'active' if current_page?(chirp_index_path) %>">
              <%= link_to chirp_index_path, class: "nav-link" do %>
                Chirp
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(chirp_index_path) %>
              <% end %>
            </li>
            <% @user ||= current_user %>
            <% listen = 
                (controller?('releases') && action?('index') && params[:player] == true ) ||
                (controller?('player') && action?('listen')) ||
                (controller?('playlists') && action?('show')) %>
                
            <li class="nav-item <%= 'active' if listen %>">
              <%= link_to player_listen_path(current_user), class: "nav-link" do %>
                Listen
                <%= '<span class="sr-only">(current)</span>'.html_safe if listen %>
              <% end %>
            </li>
            
            <li class="nav-item <%= 'active' if current_page?(player_connect_path(current_user)) %>">
              <%= link_to player_connect_path(current_user), class: "nav-link" do %>
                Connect
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(player_connect_path(current_user)) %>
              <% end %>
            </li>

          <% else %>
            <li class="nav-item <%= 'active' if current_page?(about_path) %>">
              <%= link_to about_path, class: "nav-link" do %>
                What is Birdfeed?
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(about_path) %>
              <% end %>
            </li>
          <% end %>

          <li class="nav-item <%= 'active' if current_page?(leaderboard_path) %>">
            <%= link_to leaderboard_path, class: "nav-link" do %>
              Play
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(leaderboard_path) %>
            <% end %>
          </li>

          <li class="nav-item">
            <button class="nav-link search-button" type="button" data-toggle="modal" data-target="#searchModal">
              <%= image_tag 'icons/icon-search.svg' %>
            </button>
          </li>
           <!--<li class="nav-item <%#= 'active' if current_page?(contacts_path) %>">
            <%#= link_to contacts_path, class: "nav-link" do %>
              Contact
              <%#= '<span class="sr-only">(current)</span>'.html_safe if current_page?(contacts_path) %>
            <%# end %>
          </li> -->
          <div class="nav-divider"></div>
        </ul>

        <% if current_user %>
          <ul class="navbar-nav align-items-center">
            <div class="header-user">
              <%= link_to image_tag(current_user.avatar.thumb, class: "user-avatar"), root_path %>
              <span><%= link_to current_user.name, root_path %></span>
            </div>

            <% if current_user.has_role?(:artist) %>
              <li id="request-friend-menu" 
                  class="nav-item dropdown dropdown-notify-menu pr-2 mr-3">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="nav-icon">
                    <%= show_svg "icons/red-bird.svg" %>
                  </div>
                  <% if @friend_requests && @friend_requests.count > 0 %>
                    <span class="nav-request-count" style="right: -8px">
                      <%= @friend_requests.count < 10 ? @friend_requests.count : "9+" %>
                    </span>
                  <% end %>
                </a>

                <div class="dropdown-menu dropdown-menu-right pb-4">
                  <div class="notify-menu-header">
                    <h5>New Followers</h5>
                  </div>

                  <div class="notify-list">
                    <%= render 'users/friend_requests' %>
                  </div>
                </div>
              </li>
            <% else %>
              <li class="nav-item dropdown dropdown-requests-menu pr-2 mr-3">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="nav-icon">
                    <%= show_svg "icons/red-bird.svg" %>
                  </div>
                  <% if @friend_requests && @friend_requests.count > 0 %>
                    <span class="nav-request-count" style="right: -8px">
                      <%= @friend_requests.count < 10 ? @friend_requests.count : "9+" %>
                    </span>
                  <% end %>
                </a>

                <div class="dropdown-menu dropdown-menu-right pb-4">
                  <div class="notify-menu-header">
                    <h5>Friend Requests</h5>
                  </div>

                  <div class="notify-list">
                    <%= render 'users/friend_requests' %>
                  </div>
                </div>
              </li>
            <% end %>

            <li id="notify-menu"
                class="nav-item dropdown dropdown-notify-menu pr-2 mr-1" 
                data-current-user="<%= current_user.id %>">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "icons/icon-notifications.svg" %>
                <% if @unseen_count && @unseen_count > 0 %>
                  <span class="nav-notify-count">
                    <%= @unseen_count < 10 ? @unseen_count : "9+" %>
                  </span>
                <% end %>
              </a>

              <div class="dropdown-menu dropdown-menu-right pb-4">
                <div class="notify-menu-header">
                  <h5>NOTIFICATIONS</h5>
                  <%= link_to "clear", is_read_path, 
                      class: "is-read-btn", remote: true %>
                </div>

                <div class="notify-list">
                  <%= render 'feeds/notify' %>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown dropdown-usermenu mr-2">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "icons/icon-chevron.svg" %>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "My Profile", current_user, class: "modal-button btn-bg-gray" %>
                <% if current_user.has_role?(:admin) || current_user.has_role?(:artist) %>
                  <%= link_to "Admin Dashboard", admin_root_path, class: "modal-button btn-bg-gray" %>
                <% end %>
                <%= link_to "Edit Profile", usr_edit_profile_path, class: "modal-button btn-bg-gray" %>
                <%= link_to "Sign Out", destroy_user_session_path, 
                    class: "modal-button btn-bg-red", method: :delete %>
              </div>
            </li>

            <li class="nav-item dropdown dropdown-help-menu">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "icons/help.svg" %>
              </a>
              <div class="dropdown-menu dropdown-menu-right m-2">
                <h5 >Help pages</h5>
                <% if @ninja %>
                  <%= button_tag data: { toggle: 'modal', target: "#headerReportModal#{@ninja.id}" }, 
                      class: "btn c-btn-red btn-square mb-2" do %>
                    <%= image_tag @ninja.avatar.thumb.url, class: 'user-avatar' %>
                    ask Marcus
                    <% if @ninja.online? %>
                      <span class="ninja-online">online</span>
                    <% end %>
                  <% end %>
                <% end %>

                <%= button_tag data: { toggle: 'modal', target: "#headerReportModal#{current_user.id}" }, 
                    class: "btn c-btn-blue btn-square" do %>
                  repot a problem or abuse
                <% end %>
              </div>
            </li>
          </ul>
        <% else %>
          <button class="btn c-btn-red nav-signup-btn" type="button" data-toggle="modal" data-target="#signupModal">
            SIGN UP
          </button>

          <ul class="navbar-nav">
            <li class="nav-item dropdown dropdown-login">
              <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOG IN
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to user_facebook_omniauth_authorize_path, class: "modal-button btn-bg-blue" do %>
                  Log in with Facebook
                <% end %>

                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "modal-button btn-bg-red" do %>
                  Log in with Google+
                <% end %>

                <%= form_for(resource, as: resource_name, 
                    url: session_path(resource_name),
                    html: {id: "sign_in_user", class: "sign_in_user"}) do |f| %>
                  <%= devise_error_messages! %>

                  <p>Sign in with your e-mail adress</p>

                  <div class="form-label-group">
                    <%= f.email_field :email, autocomplete: "email", 
                        class: 'form-control', id: "user_login_email", 
                        placeholder: 'E-mail', required: true, 
                        value: "admin@example.com" %>
                    <%= f.label :login_email, "E-mail" %>
                  </div>

                  <div class="form-label-group">
                    <%= f.password_field :password, autocomplete: "off", 
                        required: true, class: 'form-control', 
                        placeholder: "Password", id: "user_login_password", 
                        value: "password" %>
                    <%= f.label :login_password, "Password" %>
                  </div>

                  <%= f.submit "Sign in", class: "modal-button btn-bg-dark" %>
                <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<% content_for :body_area do %>
  <div class="modal modal-blured" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title">Welcome to BirdFeed</h5>
          <p class="modal-text">
            <% #TODO write text here %>
          </p>
          <%= link_to user_facebook_omniauth_authorize_path, 
              class: "modal-button btn-bg-blue" do %>
            Sign up with Facebook
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, 
              class: "modal-button btn-bg-red" do %>
            Sign up with Google+
          <% end %>
          <%= link_to "Sign up with email", new_user_registration_path, 
              class: "modal-button btn-bg-gray" %>
          <%= link_to "Log in", user_session_path, class: "modal-login" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blured" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog-centered container" role="document">
      <div class="modal-content sign-in-modal">
        <%= image_tag 'dj1.png', class: 'img-left d-none d-xl-block' %>

        <div class="sign-in-modal-body">
          <h3>
            LOGIn
          </h3>

          <%= form_for(resource, as: resource_name, 
              url: session_path(resource_name),
              html: {id: "sign_in_user_modal", class: ""}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :user_login_email_modal, "E-mail" %>
              <%= f.email_field :email, autocomplete: "email", 
                  class: 'form-control', id: "user_login_email_modal", 
                  required: true %>
            </div>

            <div class="form-group mb-4">
              <%= f.label :user_login_password_modal, "Password" %>
              <%= f.password_field :password, autocomplete: "off", 
                  required: true, class: 'form-control', 
                  id: "user_login_password_modal" %>
            </div>

            <%= f.submit "login", class: "btn c-btn-red btn-square btn-wide" %>

            <span class="mx-2">or</span>
            <div class="d-block mb-3 d-sm-none"></div>

            <%= link_to user_facebook_omniauth_authorize_path, class: "" do %>
              <%= image_tag 'icons/flogo_rgb_hex-brc-site-250.png', height: 30 %>
            <% end %>

            <%= link_to user_google_oauth2_omniauth_authorize_path, class: "" do %>
              <%= image_tag 'icons/btn_google_dark_normal_ios.svg', height: 34 %>
            <% end %>
          <% end %>
          
          <%= link_to "I Forgot", new_password_path(resource_name), class: 'c-text' %>

          <div class="text-right mb-4">
            <span class="or">or</span>
          </div>

          <%= link_to "Create an account", new_user_registration_path, 
              class: "btn c-btn-blue btn-square btn-wide float-right mt-4 mb-3" %>
        </div>

        <div class="sign-in-modal-owl d-none d-xl-block">
          <%= image_tag 'owl.png' %>
          <%= image_tag 'dialog.png', class: 'dialog-img' %>
          <%= image_tag 'key.png', class: 'key-img' %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blured" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="aa-input-container" id="aa-input-container">
            <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Type whatever you’re looking for" name="search" autocomplete="off" autofocus />
            <%= image_tag 'icons/icon-search-big.svg', class: 'aa-input-icon' %>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% [@ninja, current_user].compact.each do |report_for| %>
    <div class="modal modal-blured" id="headerReportModal<%= report_for.id %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body w-100">
            <h5 class="modal-title">Describe the problem</h5>

            <%= render 'home/report_form', object: report_for  %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
