<header>
  <%= render 'layouts/player' %>
  <nav class="navbar navbar-expand-md fixed-top d-flex">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'birdfeed-logo-white.png' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">
        THE <b>DIRTYBIRD</b> FAN GAME
      </span>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/">
                Home
              </a>
            </li>

            <li class="nav-item <%= 'active' if current_page?(chirp_index_path) %>">
              <%= link_to chirp_index_path, class: "nav-link" do %>
                Chirp
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(chirp_index_path) %>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if current_page?(releases_path) %>">
              <%= link_to releases_path, class: "nav-link" do %>
                Releases
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(releases_path) %>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if current_page?(artists_path) %>">
              <%= link_to artists_path, class: "nav-link" do %>
                Artists
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(artists_path) %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item <%= 'active' if current_page?(about_path) %>">
              <%= link_to about_path, class: "nav-link" do %>
                What is Birdfeed?
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(about_path) %>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item <%= 'active' if current_page?(users_path) %>">
            <%= link_to users_path, class: "nav-link" do %>
              Leaderboard
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(users_path) %>
            <% end %>
          </li>
           <!--<li class="nav-item <%#= 'active' if current_page?(contacts_path) %>">
            <%#= link_to contacts_path, class: "nav-link" do %>
              Contact
              <%#= '<span class="sr-only">(current)</span>'.html_safe if current_page?(contacts_path) %>
            <%# end %>
          </li> -->
          <% unless current_user %>
            <div class="nav-divider"></div>

            <button class="btn c-btn-white nav-signup-btn" type="button" data-toggle="modal" data-target="#signupModal">
              SIGN UP
            </button>
            <button class="btn nav-signin-btn" type="button" data-toggle="modal" data-target="#signinModal">LOG IN</button>
          <% end %>
        </ul>

        <% if current_user %>
          <div class="aa-input-container" id="aa-input-container">
              <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search..." name="search" autocomplete="off" />
          </div>

          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <div class="btn-group">
                <a href="#" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag current_user.avatar.thumb.url if current_user.avatar.present? %>
                  <%= current_user.email.split('@')[0] %>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Admin dashboard", admin_root_path, class: "dropdown-item" %>
                  <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Log out", destroy_user_session_path, 
                      class: "dropdown-item", method: :delete %>
                </div>
              </div>
            </li>
          </ul>
          <!--  <%# else %>
          <%#= link_to "Sign in", user_session_path, class: 'btn btn-outline-secondary' %> -->
        <% end %>
      </div>
    </div>
  </nav>
</header>

<% content_for :body_area do %>
  <div class="modal modal-blured" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title">Welcome to BirdFeed</h5>
          <p class="modal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <%= link_to user_facebook_omniauth_authorize_path, 
              class: "modal-button btn-bg-blue" do %>
            Sign up with Facebook
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, 
              class: "modal-button btn-bg-red" do %>
            Sign up with Google+
          <% end %>
          <%= link_to "Sign up with email", new_user_registration_path, 
              class: "modal-button btn-bg-gray" %>
          <%= link_to "Log in", user_session_path, class: "modal-login" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="signinModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container text-right" style="height: 1px;">
      <div class="modal-dialog-right" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <%= link_to user_facebook_omniauth_authorize_path, class: "modal-button btn-bg-blue" do %>
              Log in with Facebook
            <% end %>

            <%= link_to user_google_oauth2_omniauth_authorize_path, class: "modal-button btn-bg-red" do %>
              Log in with Google+
            <% end %>


            <%= form_for(resource, as: resource_name, 
                url: session_path(resource_name),
                html: {id: "sign_in_user", class: "sign_in_user"}) do |f| %>
              <%= devise_error_messages! %>

              <p>Sign in with your e-mail adress</p>

              <div class="form-label-group">
                <%= f.email_field :email, autocomplete: "email", 
                    class: 'form-control', id: "user_login_email", 
                    placeholder: 'E-mail', required: true, 
                    value: "admin@example.com" %>
                <%= f.label :login_email, "E-mail" %>
              </div>

              <div class="form-label-group">
                <%= f.password_field :password, autocomplete: "off", 
                    required: true, class: 'form-control', 
                    placeholder: "Password", id: "user_login_password", 
                    value: "password" %>
                <%= f.label :password, "Password" %>
              </div>

              <%= f.submit "Sign in", class: "modal-button btn-bg-dark" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>