<header>
  <%= render 'layouts/player' %>
  
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag 'birdfeed-logo-white.png' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">
        THE <b>DIRTYBIRD</b> FAN GAME
      </span>

      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav nav-menu">
          <% if current_user && current_user.has_role?(:admin) %>
            <li class="nav-item <%= 'active' if current_page?(birdfeed_path) %>">
              <%= link_to birdfeed_path, class: "nav-link" do %>
                Birdfeed
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(birdfeed_path) %>
              <% end %>
            </li>
          <% end %>

          <% if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/">
                Home
              </a>
            </li>

            <li class="nav-item <%= 'active' if current_page?(chirp_index_path) %>">
              <%= link_to chirp_index_path, class: "nav-link" do %>
                Chirp
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(chirp_index_path) %>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if current_page?(releases_path) %>">
              <%= link_to releases_path, class: "nav-link" do %>
                Releases
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(releases_path) %>
              <% end %>
            </li>

            <li class="nav-item <%= 'active' if current_page?(artists_path) %>">
              <%= link_to artists_path, class: "nav-link" do %>
                Artists
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(artists_path) %>
              <% end %>
            </li>

          <% else %>
            <li class="nav-item <%= 'active' if current_page?(about_path) %>">
              <%= link_to about_path, class: "nav-link" do %>
                What is Birdfeed?
                <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(about_path) %>
              <% end %>
            </li>
          <% end %>

          <li class="nav-item <%= 'active' if current_page?(leaderboard_path) %>">
            <%= link_to leaderboard_path, class: "nav-link" do %>
              Leaderboard
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(leaderboard_path) %>
            <% end %>
          </li>

          <li class="nav-item">
            <button class="nav-link search-button" type="button" data-toggle="modal" data-target="#searchModal">
              <%= image_tag 'icons/icon-search.svg' %>
            </button>
          </li>
           <!--<li class="nav-item <%#= 'active' if current_page?(contacts_path) %>">
            <%#= link_to contacts_path, class: "nav-link" do %>
              Contact
              <%#= '<span class="sr-only">(current)</span>'.html_safe if current_page?(contacts_path) %>
            <%# end %>
          </li> -->
          <div class="nav-divider"></div>
        </ul>

        <% if current_user %>
          <ul class="navbar-nav">
            <div class="header-user">
              <%= link_to image_tag(current_user.avatar.thumb, class: "user-avatar"), root_path if current_user.avatar.present? %>
              <span><%= link_to current_user.name, root_path %></span>
              <li class="nav-item dropdown dropdown-notify-menu">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag "icons/icon-notifications.svg" %>
                  <% if @unseen_count > 0 %>
                    <span class="nav-notify-count"><%= @unseen_count %></span>
                  <% end %>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= render 'feeds/notify' %>
                </div>
              </li>
            </div>
            <li class="nav-item dropdown dropdown-usermenu">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "icons/icon-chevron.svg" %>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "My Profile", current_user, class: "modal-button btn-bg-gray" %>
                <% if current_user.has_role?(:admin) || current_user.has_role?(:artist) %>
                  <%= link_to "Admin Dashboard", admin_root_path, class: "modal-button btn-bg-gray" %>
                <% end %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "modal-button btn-bg-gray" %>
                <%= link_to "Sign Out", destroy_user_session_path, 
                    class: "modal-button btn-bg-red", method: :delete %>
              </div>
            </li>
          </ul>
        <% else %>
          <button class="btn c-btn-white nav-signup-btn" type="button" data-toggle="modal" data-target="#signupModal">
            SIGN UP
          </button>

          <ul class="navbar-nav">
            <li class="nav-item dropdown dropdown-login">
              <a href="#" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LOG IN
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to user_facebook_omniauth_authorize_path, class: "modal-button btn-bg-blue" do %>
                  Log in with Facebook
                <% end %>

                <%= link_to user_google_oauth2_omniauth_authorize_path, class: "modal-button btn-bg-red" do %>
                  Log in with Google+
                <% end %>

                <%= form_for(resource, as: resource_name, 
                    url: session_path(resource_name),
                    html: {id: "sign_in_user", class: "sign_in_user"}) do |f| %>
                  <%= devise_error_messages! %>

                  <p>Sign in with your e-mail adress</p>

                  <div class="form-label-group">
                    <%= f.email_field :email, autocomplete: "email", 
                        class: 'form-control', id: "user_login_email", 
                        placeholder: 'E-mail', required: true, 
                        value: "admin@example.com" %>
                    <%= f.label :login_email, "E-mail" %>
                  </div>

                  <div class="form-label-group">
                    <%= f.password_field :password, autocomplete: "off", 
                        required: true, class: 'form-control', 
                        placeholder: "Password", id: "user_login_password", 
                        value: "password" %>
                    <%= f.label :login_password, "Password" %>
                  </div>

                  <%= f.submit "Sign in", class: "modal-button btn-bg-dark" %>
                <% end %>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<% content_for :body_area do %>
  <div class="modal modal-blured" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title">Welcome to BirdFeed</h5>
          <p class="modal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <%= link_to user_facebook_omniauth_authorize_path, 
              class: "modal-button btn-bg-blue" do %>
            Sign up with Facebook
          <% end %>
          <%= link_to user_google_oauth2_omniauth_authorize_path, 
              class: "modal-button btn-bg-red" do %>
            Sign up with Google+
          <% end %>
          <%= link_to "Sign up with email", new_user_registration_path, 
              class: "modal-button btn-bg-gray" %>
          <%= link_to "Log in", user_session_path, class: "modal-login" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :body_area do %>
  <div class="modal modal-blured" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="aa-input-container" id="aa-input-container">
            <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Type whatever you’re looking for" name="search" autocomplete="off" autofocus />
            <%= image_tag 'icons/icon-search-big.svg', class: 'aa-input-icon' %>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>