<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light d-flex">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo-v2i.png' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav mr-5">
        <% unless current_page?(root_path) %>
          <li class="nav-item">
            <a class="nav-link" href="/">
              Home
            </a>
          </li>
          <li class="nav-item <%= 'active' if current_page?(chrip_path) %>">
            <%= link_to chrip_path, class: "nav-link" do %>
              Chrip
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(chrip_path) %>
            <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(releases_path) %>">
            <%= link_to releases_path, class: "nav-link" do %>
              Releases
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(releases_path) %>
            <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(artists_path) %>">
            <%= link_to artists_path, class: "nav-link" do %>
              Artists
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(artists_path) %>
            <% end %>
          </li>
        <% end %>
        <% if current_page?(root_path) %>
          <li class="nav-item <%= 'active' if current_page?(about_path) %>">
            <%= link_to about_path, class: "nav-link" do %>
              What is Birdfeed?
              <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(about_path) %>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item <%= 'active' if current_page?(users_path) %>">
          <%= link_to users_path, class: "nav-link" do %>
            Leaderboard
            <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(users_path) %>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(contacts_path) %>">
          <%= link_to contacts_path, class: "nav-link" do %>
            Contact
            <%= '<span class="sr-only">(current)</span>'.html_safe if current_page?(contacts_path) %>
          <% end %>
        </li>
      </ul>

      <% if current_user %>
        <form class="form-inline mt-2 mt-md-0 mr-3">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="btn-group">
              <a href="#" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag current_user.avatar.thumb.url if current_user.avatar.present? %>
                <%= current_user.email.split('@')[0] %>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Admin dashboard", admin_root_path, class: "dropdown-item" %>
                <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", destroy_user_session_path, 
                    class: "dropdown-item", method: :delete %>
              </div>
            </div>
          </li>
        </ul>
        <!--  <%# else %>
        <%#= link_to "Sign in", user_session_path, class: 'btn btn-outline-secondary' %> -->
      <% end %>

    </div>
  </nav>
</header>