<% case icon %>
<% when 'white' then btn_image = 'icons/icon-share.svg' %>
<% when 'black' then btn_image = 'icons/icon-share-black.svg' %>
<% end %>

<button class="icon-share" type="button" data-toggle="collapse" data-target=".<%= "#{object.class.to_s}-#{object.id}" %>-share" aria-expanded="false" aria-controls="collapseExample">
  <%= image_tag(btn_image, title: "Share") %>
</button>

<div class="collapse share-panel <%= "#{object.class.to_s}-#{object.id}" %>-share" style="top: -11px;">
  <h5 class="mx-3 my-2">Share</h5>
  <% case object.class.to_s %>
  <% when 'Track' %>
    <% object_type = 'release' %>
    <% object_id = object.release.id %>
    <% object_subtype = 'track' %>
    <% object_subid = object.id %>
    <% title = object.release.title %>
    <% text = object.release.text %>
  <% else %>
    <% object_type = object.class.to_s.downcase %>
    <% object_id = object.id %>
    <% title = object.title || '' %>
    <% text = object.text || '' %>
  <% end %>
  <div class="mx-3 mb-3" data-object-type="<%= object_type %>" data-object-id="<%= object_id %>" data-object-subtype="<%= object_subtype %>" data-object-subid="<%= object_subid %>">
    <%= social_share_button_tag(strip_tags(title).gsub("\'",''), desc: strip_tags(text).gsub("\'",''), image: object.avatar.url) %>
  </div>
</div>
