<!DOCTYPE html>
<html>
  <head>
    <title>Streambird</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if ENV['RAILS_ENV'] == 'production' %>

      <!-- Google Tag Manager trigger for Turbolinks -->
<!--         <script type="text/javascript">
        document.addEventListener('turbolinks:load', function(event) {
          var url = event.data.url;

          dataLayer.push({
            'event':'pageView',
            'virtualUrl': url
          });
        });
        </script> -->
      <!-- End Google Tag Manager trigger for Turbolinks -->  
      <!-- Google Tag Manager -->
<!--       <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5258QS');</script> -->
      <!-- End Google Tag Manager -->
    <%end%>

  </head>

  <body>
    <%# if ENV['RAILS_ENV'] == 'production' %>
      <!-- Google Tag Manager (noscript) -->
<!--       <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5258QS"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
      <!-- End Google Tag Manager (noscript) -->
    <%# end %>
    <!-- <p class="notice"><%#= notice %></p> -->
    <!-- <p class="alert"><%#= alert %></p> -->

    <%= render "layouts/header" %>
    <main role="main">
      <%= yield %>
      <%= render "layouts/footer" %>
    </main>
  </body>
</html>
