<!DOCTYPE html>
<html>
  <head>
    <title>Birdfeed</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/getstream/dist/js_min/getstream.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPOvJDItvZiWgrMrS9102xeX6VeHbt1G8&language=en&libraries=places"
        async defer></script>
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114231380-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114231380-1');
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'player_page' if @player_pages %>">
    <div class="main-container">

      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <%= render "layouts/header" %>
      <main role="main">

        <div class="container py-4">
          <% if controller?('home') && action?('index') %>
            <%= render 'layouts/carousel' %>
          <% end %>
          
          <%= yield %>
        </div>

        <%= render 'player/bottom_player' %>

        <%= render "layouts/footer" %>

      </main>
    </div>

    <%= yield :body_area %>
    <%= javascript_include_tag "footer" %>
  </body>
</html>
